[2015-10-13 17:08] rafaelrinaldi opened #1 "Do not add new line when previous command fails"
<img width="532" alt="screen shot 2015-10-13 at 2 07 44 pm" src="https://cloud.githubusercontent.com/assets/87162/10462215/cd17eca4-71b3-11e5-936d-6e285ededc19.png">

Highlined newline shouldn't exist.

[2015-10-13 18:33] rafaelrinaldi opened #2 "Add option to customize theme"
Since we already use variables everywhere, it should be as simple as changing them from local to the global scope.

[2015-10-13 18:34] rafaelrinaldi opened #3 "Support oh-my-fish"
Add support to [`oh-my-fish`](https://github.com/oh-my-fish/oh-my-fish).

[2015-10-14 21:56] #1 closed

[2015-12-07 09:48] edouard-lopez commented on #3
What is required to do so?

[2015-12-07 12:44] edouard-lopez commented on #3
I asked on the [omf slack](https://oh-my-fish.slack.com/messages/general/) and the git repo need to follow an undocumented convention:

In order for the `omf install <theme>` to work.

[2015-12-07 12:52] rafaelrinaldi commented on #3
@edouard-lopez Hey Edouard, thanks for the interest. I've created this issue just as a reminder of a nice-to-have feature. I don't use `oh-my-fish` myself.

If you are willing to create a PR for this, I can help you out.

Thanks!

[2015-12-09 09:49] edouard-lopez commented on #3
I submitted a PR to add support for omf

[2015-12-10 13:41] rafaelrinaldi commented on #3
@edouard-lopez Thanks for that! I'm going to take a look into it this weekend. I think it's better to create another repo with the contents of `pure` as a submodule, so people relying on this repository (currently `~24`) don't get frustrated. Should work, right?

[2015-12-10 15:01] edouard-lopez commented on #3
The merge should be backward-compatible as I just extracted method to own file to follow omf convention and leverage fish lazy loading mechanism.
Then I can use or update my repo to add yours as a submodule and serve as entry point for the omf theme.

Is it OK with you?

[2015-12-10 15:11] edouard-lopez commented on #3
We might not need to have 2 repo as they are [talking to support repo without the `theme-` prefix for 3rd-party theme](https://github.com/oh-my-fish/oh-my-fish/issues/191).

[2015-12-10 16:58] rafaelrinaldi commented on #3
@edouard-lopez It's perfectly fine from my side, man. Go ahead :+1:

[2015-12-11 10:25] rafaelrinaldi commented on #3
@edouard-lopez I saw your fork and I noticed that you split the functions into separate files. This probably is going to lead to maintenance problems, because every time I change something I will need to make sure your repository is also updated. I can see two solutions:

1. Change my repository to use the same structure as yours.
2. Automate the update process (every time a new release come out I

[2015-12-11 10:52] edouard-lopez commented on #3
I prefer to keep you as the main repo, so there is a single entry point as you already got the followers and I just adapted the project structure so it is compatible with OMF. It should still work fine for non-OMF users.

So better keep one entry point IMHO. If other changes are needed, I'll fork again and submit PR to you.

[2015-12-11 12:44] rafaelrinaldi commented on #3
:+1: Closing the issue then. Thanks for this!

[2015-12-11 12:44] #3 closed

[2016-01-02 03:18] bucaran commented on #3
@rafaelrinaldi @edouard-lopez

Check out [Fisherman](https://github.com/fisherman/fisherman), there you can install any themes or plugins (including OMF) without restrictions.

[code]

[2016-01-02 14:31] rafaelrinaldi commented on #3
@bucaran Nice. That's how I would expect OMF to work as well. Thanks for sharing!

[2016-01-04 14:10] bpinto commented on #3
Oh My Fish is the only framework that has full compatibility with fish shell `fish_config`.

When you use fish, you have access to the web config which allows users to use `fish_config` builtin tool.
The way @edouard-lopez broke the one function in several files is also more-fishy as it's a good thing to have one function per file (supports lazy loading).

Perhaps we can merge your work as it was

[2016-01-04 14:18] rafaelrinaldi commented on #3
@bpinto Thanks for the thoroughly response. I will follow what @edouard-lopez did on [his fork](https://github.com/edouard-lopez/theme-pure) and merge it to the original repository so we can avoid trouble by having a single entry point. Just one question, is it a requirement to prefix the repository name with `theme-`?

[2016-01-04 14:23] oranja commented on #3
For now it is a requirement. Without it OMF can't tell that it's a theme and resorts to considering it a regular package (i.e. plugin, which shouldn't be supported as an argument to `omf theme`).
Now OMF also supports `omf-theme-` as a prefix, but seems like this isn't necessarily of interest to you...
Anyway, the final commands will still be `omf install pure` and `omf theme pure`.

[2016-01-04 14:24] edouard-lopez commented on #3
There is a discussion about that in oh-my-fish/oh-my-fish#191. But I don't see any progress on the thread.
I'm going to submit a pull request to add the theme (via my repo) to the `oh-my-fish` repo, is it ok with you @rafaelrinaldi ?

[2016-01-04 14:27] edouard-lopez commented on #3
I'm going to merge back into your repo

[2016-01-04 14:28] rafaelrinaldi commented on #3
@oranja Thanks for explaining. I get it now.

Well, renaming my repository is not a big deal. @edouard-lopez as I've suggested, let's all work together on the same repository. I made you a main contributor so you can do whatever is required. I was going to work on this tonight but if you can do that if you want.

The only thing to keep in mind is that it should work regardless the user uses `omf`

[2016-01-04 14:30] bucaran commented on #3
@edouard-lopez If you submit the theme to the OMF organization, there exists a slight chance that it will not be compatible with other systems (fundle, Fisherman, etc), but only slight.

That is, if the OMF folks play well and don't resort to hostility tactics like in:

* https://github.com/oh-my-fish/oh-my-fish/issues/223

Related:
* https://github.com/oh-my-fish/theme-bobthefish/pull/19

[2016-01-04 14:42] edouard-lopez commented on #3
@rafaelrinaldi the doc need to be updated after:

1. your repo is renamed to `theme-pure` with

         omf install https://github.com/rafaelrinaldi/pure.git

2. the repo is added to `omf` theme list with (see #5):

         omf install pure

[2016-01-04 14:48] oranja commented on #3
Actually GitHub recently introduced automatic redirects, so you can rename `pure` to `theme-pure` to `omf-theme-pure`, then back to to `pure`, and never care again about OMF's repository naming conventions ;)

[2016-01-04 15:29] bucaran commented on #3
The same is true for Fisherman. I don't know about fundle.

[2016-01-04 15:42] bpinto commented on #3
We could use the automatic redirects, that's a good idea.

It's not.

[2016-01-10 19:02] bucaran opened #6 "Remove Oh My Fish! framework badge"
This theme works perfectly with:

* [fundle](https://github.com/tuvistavie/fundle)
* [Fisherman](https://github.com/fisherman/fisherman)
* [Wahoo](https://github.com/bucaran/wahoo)

and of course

* [Oh My Fish!](https://github.com/oh-my-fish/oh-my-fish)

Displaying the Oh My Fish! badge could potentially make new users believe that this theme does not work with others systems.

BTW I know the REA

[2016-01-11 12:55] oranja commented on #6
I am all for healthy competition and agree with @bucaran. It would be more fair to list the different frameworks that the theme is known to work with than put the OMF badge and forget about the rest.
But just to be clear, I see nothing wrong with specifying several of them as officially supported and recommended, though, if the author chooses to. So far the frameworks are all pretty much compatibl

[2016-01-11 14:09] edouard-lopez commented on #6
Thanks for the feedback !

### Context
I reckon @rafaelrinaldi did not target any specific framework but the bare `fish` (correct me if I'm wrong).

The badge was added by my [pull request to add support for oh-my-fish](/rafaelrinaldi/pure/pull/5) as I did the port to OMF (which I use).

As a result to my contribution @rafaelrinaldi grant me access to its repo recently.

### Keep Calm and Carry Co

[2016-01-11 14:17] edouard-lopez opened #7 "rename repo to theme-pure"
This is in order to [support OMF install](https://github.com/rafaelrinaldi/pure/issues/3#issuecomment-168689730) with

    omf install pure

This is backward-compatible thanks [new Github feature](https://github.com/rafaelrinaldi/pure/issues/3#issuecomment-168696116) that [Automatic redirects for renamed repositories](https://developer.github.com/changes/2015-07-21-automatic-redirects-for-renamed-

[2016-01-11 14:19] bucaran commented on #6
Yo. What do you need to be done? A PR addressing the issue?

[2016-01-11 15:14] edouard-lopez commented on #6
@bucaran that's a good beginning!

Are you familiar with any of the cited framework?

[2016-01-11 15:19] bucaran commented on #6
I think I am familiar.

[2016-01-11 15:23] rafaelrinaldi commented on #6
@bucaran Thanks for the heads up. As @edouard-lopez already said, I initially made this theme to work with a raw fish setup (I don't personally use any frameworks).
I'm glad to see it is well supported though! Feel free to submit a PR with instructions for installing the theme in all these different frameworks. That would be nice!

[2016-01-11 15:25] bucaran commented on #6
Got it and thanks, will do. :+1:

[2016-01-11 15:26] oranja commented on #6
rofl :joy:
I am sure @bucaran would love to help with anything related to Fisherman.

I would love to help with Oh-My-Fish.
Already suggested to rename the repository to **theme-pure** and back again to **pure**, just to create a redirection from **theme-pure** to **pure**, which would be very helpful to OMF.
\* We are aware that this is not a nice request and working on avoiding this issue, but f

[2016-01-11 15:27] bucaran commented on #6
The name of the repository is not a problem. All I am suggesting is adding sections to either explain how to install it in other systems.

[2016-01-11 15:29] oranja commented on #6
Sadly it is a problem for OMF at this point in time. However, it is also not a problem to change it and then change it back to **pure**. See #7.

Don't get me wrong, I'll be the first one to +1 your PR with installation instructions for more frameworks.

[2016-01-11 15:32] rafaelrinaldi commented on #7
Done :+1:

[2016-01-11 15:32] #7 closed

[2016-01-11 15:33] rafaelrinaldi commented on #6
@oranja I got you covered. Just closed #7 :+1:

[2016-01-12 07:20] oranja commented on #6
Muchas gracias :pray:

[2016-01-12 13:19] edouard-lopez commented on #6
@oranja @bucaran my bad I'm new to fish and just saw you are the main dev behind Fisherman and wahoo :P

[2016-01-12 13:28] #6 closed

[2016-01-12 13:43] bucaran commented on #6
@edouard-lopez No problem. I used to contributed alot to Oh My Fish too.

![untitled](https://cloud.githubusercontent.com/assets/8317250/12265013/db0b9db2-b97d-11e5-83f0-d88473db4913.png)

[2016-01-12 16:48] joseluisq opened #8 "fatal: repository 'pure' does not exist on Mac"
On Mac apparently pure repository doesn't exist:

![image](https://cloud.githubusercontent.com/assets/1700322/12270064/46390c16-b922-11e5-98d3-b6a62901a141.png)

[2016-01-12 16:54] joseluisq opened #9 "Manual installation throws error on Mac"
Manual installation throws error:
https://github.com/rafaelrinaldi/pure#manually

[code]

[2016-01-12 17:41] oranja commented on #8
Will be solved in a few hours. Sorry for the mislead.

[2016-01-12 17:44] joseluisq commented on #8
@oranja great ! :+1:

[2016-01-12 22:22] oranja commented on #8
It's done.
`omf update`, and you're good to `omf install pure`
Enjoy :beers:

[2016-01-12 23:25] joseluisq commented on #8
Wow now works:
![image](https://cloud.githubusercontent.com/assets/1700322/12280137/b9f05af6-b959-11e5-8d46-e35f059e0316.png)

Thanks :+1:

[2016-01-12 23:25] #8 closed

[2016-01-13 14:11] edouard-lopez commented on #9
I can't reproduce on Ubuntu `15.10` cc @rafaelrinaldi

[2016-01-13 14:36] oranja commented on #9
@edouard-lopez to reproduce this problem I believe you need a Fish environment without **pure** and without it's functions in Fish's memory. Uninstall **pure** and `refresh` the shell to test.

The theme used to be all packed in one file. Now that it's split to several file, it's not possible to "install" it by downloading just one file. Proper install instructions should probably involve a `git c

[2016-01-13 14:48] joseluisq commented on #9
Yeah, dot doesn't work.

[2016-01-15 01:01] bucaran commented on #3
It is, but I'll let you have that feature if you really want. :wink:

[2016-01-15 10:40] edouard-lopez commented on #9
@oranja I'm working on an installer script, but hit a wall on the last step (sourcing `fish_prompt.fish`) as there is no lazy loading of other files.

[2016-01-15 10:48] oranja commented on #9
Did you add this step before sourcing?

[2016-01-15 11:02] edouard-lopez commented on #9
@oranja yep, check out the [installer.fish](https://github.com/rafaelrinaldi/pure/blob/installer/installer.fish) on the _installer_ branch. I'm having the following error when running the installer while sourcing manually works:

    __parse_current_folder: command not found
    ~/.config/fish/functions/fish_prompt.fish (line 1): __parse_current_folder

[2016-01-15 20:53] joseluisq opened #11 "fatal: no such branch: 'HEAD...' on empty repository"
When I clone an empty repository `pure` throws me an error:

*No such branch: 'HEAD...'*
![image](https://cloud.githubusercontent.com/assets/1700322/12364912/725e4e94-bb9f-11e5-8629-00ac17333a24.png)

[2016-01-16 12:08] oranja commented on #9
By the time I figured out all the quirks, I already had a complete installer ready...
See #12

[2016-01-19 11:06] oranja commented on #11
I'm trying to see if this is OS X specific.
I created an empty git repository locally (`git init test`) and didn't get any error on `cd test/`.
Does it happen to you when you do `git init`? or only specifically when you `clone` an empty repository?

Also, what's your `git --version`?

[2016-01-19 16:41] joseluisq commented on #11
Apparently this occurs with bitbucket empty repo. (tested)

[code]

Here my screenshot:
![image](https://cloud.githubusercontent.com/assets/1700322/12425172/89605740-bea1-11e5-9cc9-3b204156add3.png)

[2016-01-19 16:45] joseluisq commented on #9
:+1:

[2016-01-19 17:42] oranja commented on #11
Reproduced this on my machine (Fedora 23, 64-bit, git 2.5.0) as well.
I think I found a fix. Will submit a PR for review in a few moments.

[2016-01-19 17:49] joseluisq commented on #11
:+1:

[2016-01-19 17:55] joseluisq opened #13 "Report the Max Exec Time for commands (enhancement)"
I think it's necessary to report *"max execution time"* of commands, something like:

[code]

[2016-01-19 18:47] oranja opened #15 "[bug] fatal error when entering a git repository with a detached HEAD"
Usually I report a bug with a PR to fix it, but I've spent all my coding fun time for today, so I will leave it here for now. Perhaps I will pick it up again when I get a chance.
In the meantime even reproducing the error and reporting it here will be helpful.

I'm testing a few things in OMF, so currently I'm working on a detached HEAD in **$OMF_PATH**.
When `cd`ing into this folder, I get the fo

[2016-01-19 19:59] oranja commented on #13
I see execution time reported some times, but not all of the time... There's a chance that this is just when and how Fish reports time.

[2016-01-19 20:01] joseluisq commented on #13
In my case I can't see the time exec :(

[2016-01-20 14:07] #15 closed

[2016-01-20 15:40] #11 closed

[2016-01-22 01:36] rafaelrinaldi commented on #13
There's a threshold we use to display the execution time of failed commands. Feel free to customize it but I want to keep the way it is right now to be consistent to the original theme.

What would be nice is to have an easy way to customize the setup. It should be easy to do but I haven't had time to tackle it yet.

[2016-01-26 01:21] rafaelrinaldi commented on #13
Closing the issue since I've already explaining this request is out of the scope of the project. Would love some help in making the theme easier to customize though.

[2016-01-26 01:21] #13 closed

[2016-02-10 11:29] edouard-lopez opened #17 "Error test: Missing argument at index 2 with virtualfish"
After installing [virtualfish](/adambrenecki/virtualfish) and [customizing my `fish_prompt`](https://virtualfish.readthedocs.org/en/latest/install.html#customizing-your-fish-prompt) as shown in the documentation with my [`omf` theme `pure`](https://github.com/rafaelrinaldi/pure) I got error:

    test: Missing argument at index 2

I tried with another theme (`flash`) and got event more error.

###

[2016-02-11 01:37] scorphus commented on #17
@edouard-lopez: there are other themes that support virtualfish, such as `bobthefish` and `scorphish`. If you wish to have current active virtualenv in your pure prompt, just make it look like [this](https://gist.github.com/scorphus/82624ba92c7f3d0c0758#file-fish_prompt-fish-L51-L54).

@rafaelrinaldi: even this being port from ZSH theme, if you'd like to add support to virtualfish, a pull request

[2016-02-11 01:57] rafaelrinaldi commented on #17
@scorphus We want to stay consistent with the original theme. You can add to your custom settings anyway.

[2016-02-11 02:00] rafaelrinaldi commented on #17
@edouard-lopez Isn't there a way to simply bypass this check? Not sure how to do it but ideally the theme shouldn't bitch about it.

[2016-02-11 14:31] edouard-lopez commented on #17
Solved by editing `~/.config/fish/functions/fish_prompt.fish` and adding the following:
[code]

Seem the `funced fish_prompt` was not the correct way to do it.

However this is not reinstall-proof…

[2016-02-11 14:31] #17 closed

[2016-02-12 13:57] rafaelrinaldi commented on #2
@oranja @edouard-lopez what's the best way to achieve this?

[2016-02-12 13:59] rafaelrinaldi commented on #9
Hey @joseluisq thanks for reporting this. We've made some improvements and fixes regarding the manual installation proccess and this issue might be fixed already. Can you please test with the latest version?

[2016-02-12 14:38] joseluisq commented on #9
Yeah! I will try this on my workstation :)

[2016-02-12 18:31] oranja commented on #2
For bare fish (not using any framework), I believe the most standard way is to rearrange the variable assignments to serve as defaults in case the variable is not yet set.
For example:
[code]
This way, any of these variables can be defined in **config.fish** without being overwritten by pure's fish_prompt.fish.

If it gets too tedious, you can define a helper function:
[code]
Then the previous blo

[2016-02-12 18:42] rafaelrinaldi commented on #2
@oranja that looks pretty decent and straightforward. Will give it a try! Thanks man.

[2016-02-12 18:46] rafaelrinaldi opened #20 "Question about releases"
We haven't published any releases so far so I was wondering if it makes sense to do at this point. If so, what version should we release? `v1.0.0` or `v0.1.0`?

Also, I'm not sure how frameworks like OMF and Fisherman handle package releases (user being able to install an specific version a package).

Thoughts?

[2016-02-12 20:47] oranja commented on #20
I don't know about fisherman, but OMF currently has no version-locking feature.
Even if it had, I believe it would be specified by a revision, which in the world of git means that you can either specify a commit or a (version) tag. If I'm correct, this scheme gives you flexibility not to name your tags with traditional version numbers, but with major changes instead. For example, "fish-2.1-compat"

[2016-02-13 04:17] bucaran commented on #20
In Fisherman, we use annotated Git tags, keep a comprehensive change log and create [releases](https://github.com/fisherman/fisherman/releases) for each patch, minor and major, and always update to the latest.

You can create an annotated Git tag with a version number or label and pass that to Fisherman when you install a package:

[code]

or

[code]

[2016-02-13 04:17] bucaran commented on #20
@oranja @rafaelrinaldi

[2016-02-13 17:27] bucaran commented on #2
Agree with @oranja, but please always prefix any global variables with the name of your plugin/theme/prompt/snippet/etc so as to not conflict (hardly, but still) with other global variables of the same name.

[2016-02-14 00:57] rafaelrinaldi commented on #2
Great, I will keep that in mind. Thanks.

--
Rafael Rinaldi
http://rinaldi.io

[2016-02-14 19:28] jisuoqing opened #21 "Add support for showing mercurial branch name"
First of all, I enjoy this theme so much for my fish shell!

I'm just wondering whether it is possible to show mercurial branch name in addition to git?

Thanks!

[2016-02-14 19:35] oranja commented on #21
It should be very easy to implement with @derekstavis's [vcs] plugin.
But... It requires Oh-My-Fish if I recall correctly.

[vcs]: https://github.com/oh-my-fish/plugin-vcs

[2016-02-14 19:38] jisuoqing commented on #21
I also saw this, but OMF is down for several days already... Now I just install pure theme manually.

[2016-02-14 20:55] bucaran commented on #21
No, it doesn't. `vcs` works with [Fisherman](https://github.com/fisherman/fisherman) too.

[code]

[2016-02-14 20:55] bucaran commented on #21
@jisuoqing

[2016-02-14 22:03] jisuoqing commented on #21
Well, the install log says:

[code]

And the error `fish: Unknown command 'autoload'` was given when `cd` to some directory at anytime. Maybe I should report this to fisherman?

[2016-02-14 22:12] bucaran commented on #21
@jisuoqing

**I am really sorry about that!**

@oranja was correct after all. I didn't notice that `vcs` uses `autoload` which I still don't know whether I want to support or not. Just looking at that function makes me cringe! :laughing:

[2016-02-14 23:31] derekstavis commented on #21
@jisuoqing `vcs` isn't designed for fisherman.

[2016-02-15 14:04] rafaelrinaldi commented on #21
@jisuoqing I'm more than happy to add this as a default feature and would like to stay away from plugins and frameworks if possible. Would you like to go ahead and open a PR?

[2016-02-15 14:16] rafaelrinaldi commented on #20
@bucaran yeah, I would use semver for that too. Do you use anything to automate change logs or you just do it manually?

[2016-02-15 14:16] rafaelrinaldi commented on #9
@joseluisq Great! Hopefully this should have been fixed already but let us know, please.

[2016-02-15 14:41] edouard-lopez commented on #2
Thanks for your knowledge!

@oranja good proposal
@bucaran nice improvement! Love future-proof argument!
don't we need `-g` to set globally?

[2016-02-15 14:51] edouard-lopez commented on #20
I'm in favor of semver, it is widespread and getting more aknowledge every day and it's quite [straight-forward](http://semver.org/):

I would argue that [when the installer is working](rafaelrinaldi/pure#9) we can release the first stable release `1.0.0`. What do you think

[2016-02-15 15:01] oranja commented on #2
What @bucaran is suggesting is to have two variables for each customization options.
The first is local and is the one actually used in the theme code.
The second can have any scope that affects the prompt - universal, global, or local to an outer function (i.e. a test function).
To clarify, here's @bucaran's suggestion again, with annotations. (hoping I won't get sued for copyright infringement h

[2016-02-15 15:05] rafaelrinaldi commented on #20
@edouard-lopez That's exactly what I was thinking :+1:

[2016-02-15 19:42] joseluisq commented on #9
Now works fine !
![image](https://cloud.githubusercontent.com/assets/1700322/13058571/0e339a4e-d3f2-11e5-95cb-5c1642cdeb92.png)
I will proceed to close this issue.
Good job!

:+1:

[2016-02-15 19:42] #9 closed

[2016-02-15 19:44] rafaelrinaldi commented on #9
@joseluisq

![alright](https://cldup.com/V0zQ5J2XO4.gif)

[2016-02-15 21:25] jisuoqing commented on #21
@rafaelrinaldi I believe that would be very nice! However I'm not familiar with shell script...

[2016-02-15 22:22] bucaran commented on #2
One more thing that I don't know whether it supports my argument or not, is that fish does this too, so it's a way to stay consistent across the universe.

https://github.com/fish-shell/fish-shell/blob/master/share/functions/__fish_config_interactive.fish#L18

Depends. I was assuming this variable will only be used in the file where it was declared.

[2016-02-15 22:24] bucaran commented on #20
To create a new version and commit it to the repo I use this:
+ https://github.com/fisherman/fisherman/blob/master/Makefile#L34

 As for the change log, I write it manually, every bit of it. :smile:

[2016-02-15 22:46] oranja commented on #2
In the same file fish also has several of these `set -q var; or set var`
one liners, rendering your choice argument weaker.
Having said that, both are fine, but personally, I think that if you have
many of these in a row, it's better to use the shorter form. It's an
equally acceptable fish idiom.

On Tue, Feb 16, 2016, 00:22 Jorge Bucaran <notifications@github.com> wrote:

[2016-02-17 17:32] edouard-lopez commented on #20
### Syntax

what's the `$^`, I never saw that in Bash… oh it's [make variable](https://www.gnu.org/software/make/manual/html_node/Automatic-Variables.html)

### For us
It should refer to the [`$PURE_INSTALL_DIR`](https://github.com/rafaelrinaldi/pure/blob/master/installer.fish#L15).

### Workflow

So if I understand correctly (I skim throught code) your workflow is:

1. work on the project, versio

[2016-02-17 19:11] rafaelrinaldi commented on #21
@jisuoqing No worries, thanks for your suggestion nonetheless. Will keep this issue open until its implemented :+1:

[2016-02-17 19:18] jisuoqing commented on #21
@rafaelrinaldi Great -- it would be nice to have this work without external plugins or frameworks. Thank all of you for bring up such a fantastic theme!

[2016-02-17 20:01] bucaran commented on #20
@rafaelrinaldi `git -C` is only used in the Makefile because, other instances in Fisherman use an approach similar to what you suggest. The reason I still keep it like that in the Makefile is because it saves a few steps and at the moment I am the only person responsible for creating releases in Fisherman.

[2016-03-16 10:23] edouard-lopez opened #25 "Fisher update fails"
I tried to update using

    $ fisher update pure

And got:

[code]

@bucaran Should we add a `__fisher_path_update` function that alias to our _installer.fish_ `install_pure` function?

[2016-03-16 10:41] bucaran commented on #25
@edouard-lopez It seems you are using an older version of Fisherman. Can you update and try again?

[2016-03-16 10:42] bucaran commented on #25
I am not sure what `installer.fish` does, but I don't think so. If Fisherman fails to update `pure`, then this is Fisherman's fault right?

[2016-03-16 10:43] bucaran commented on #25
<img width="246" alt="screen shot 2016-03-16 at 7 43 08 pm" src="https://cloud.githubusercontent.com/assets/8317250/13809700/55692f9e-ebaf-11e5-823f-f75ff78bc484.png">

[2016-03-16 15:25] rafaelrinaldi commented on #25
@edouard-lopez Is this a Fisherman specific issue?

[2016-03-17 07:14] bucaran commented on #25
@rafaelrinaldi It's not. @edouard-lopez Let's move the discussion to Fisherman or to the slack channel http://join.fisherman.sh please.

[2016-03-17 14:03] rafaelrinaldi commented on #25
@bucaran I just asked because I like to organize issues by tagging them and we have a Fisherman tag. Chill.

[2016-03-17 14:26] bucaran commented on #25
Ah, alright.

[2016-03-17 14:33] edouard-lopez commented on #25
@bucaran got

[code]

[2016-03-17 14:36] bucaran commented on #25
@edouard-lopez Good old days. Yeah, you need to upgrade, we are 1.3.1 now, and 1.4.0 is already in the oven.

[2016-03-17 15:02] edouard-lopez commented on #25
Fisherman version was indeed problematic. Solved it as follow:

1. after running fisherman/fisherman#162 solution ;
2. run update again:

[code]

[2016-03-17 15:02] #25 closed

[2016-03-22 09:45] edouard-lopez commented on #20
As the [installer is quite stable](https://github.com/rafaelrinaldi/pure/issues/20#issuecomment-184237845), I'm going to create a `1.0.0` release.

[2016-03-22 10:08] edouard-lopez commented on #20
@rafaelrinaldi would you mind reviewing the [release draft](https://github.com/rafaelrinaldi/pure/releases/tag/untagged-922a5103e4d42a53e680)?

[2016-03-26 03:33] rafaelrinaldi commented on #20
@edouard-lopez Let's do this! Draft looks good. Thanks to everyone who collaborated on this thread.

[2016-04-05 18:29] rafaelrinaldi opened #26 "Issue with `__parse_current_folder`"
I just did a fresh install and after opening a new Terminal tab I started getting this error:

[code]

Ping @edouard-lopez

[2016-04-06 09:49] edouard-lopez commented on #20
It's [published](https://github.com/rafaelrinaldi/pure/releases) !

[2016-04-06 13:28] rafaelrinaldi commented on #26
@edouard-lopez Doesn't this impact `v1.0.0`?

[2016-04-14 15:54] edouard-lopez commented on #26
@rafaelrinaldi which method of install did you used? sorry for the delay been busy.

I'm just discover the [docker-fish image](https://github.com/colstrom/docker-fish) and it might be useful for developing/testing:

[code]

Then in the docker:

[code]

Above command work fine:
[code]

[2016-04-14 17:58] rafaelrinaldi commented on #26
@edouard-lopez Nothing to be sorry about :wink:

Yeah, I just tried the vanilla installer script. Not sure why I got that error...

I will try testing within the Docker container when I have a chance.

[2016-05-19 18:09] rafaelrinaldi commented on #26
@edouard-lopez Just did another clean install run and it worked 👍

![shrug](https://cldup.com/TLrIFoGy2T.gif)

[2016-05-19 18:27] rafaelrinaldi commented on #26
@edouard-lopez Nevermind, it happened again. Just didn't happened during install. It seems like it can't find functions because they're installed under `functions/theme-pure` and it will look for `.fish` files under `/functions`. Is there a way to "source" them? I couldn't find any.

Maybe @brj have an idea on how to solve this?

[2016-05-19 21:49] brj commented on #26
@rafaelrinaldi I tried in a fresh install, without fisherman, and was able to repro the problem.

One issue could be in `pure::enable_autoloading`

[code]

I don't use a config.fish, so that code above will not write anything to no config.fish, which means, when I start a new session, `$PURE_INSTALL_DIR` will not be set anywhere and fish will not be able to autoload the helper functions you put in

[2016-06-10 13:59] #26 closed

[2016-08-24 08:56] kumarharsh opened #29 "Renders very badly on Bash on Ubuntu on Windows"
It outputs so many boxes in the titlebar and prompt,

![sketch](https://cloud.githubusercontent.com/assets/760112/17924453/56d0f026-6a06-11e6-9977-a7184c434f53.png)

[2016-08-24 12:33] rafaelrinaldi commented on #29
Thanks for reporting @kumarharsh, will look into that as soon as I can.

[2016-08-24 13:27] kumarharsh commented on #29
I've looked into some other prompts too, and they also output boxes for *some* special characters, such as `⎇` and `⚡`. It seems like the default font (consolas) supports these characters, but the conhost doesn't

[2016-08-24 14:05] oranja commented on #29
It makes sense that the global windows font supports a narrower subset of Unicode characters than the terminal itself.
@kumarharsh , it should be possible to set a different font for window titles. in Windows 10. To help diagnose the problem, do you mind setting the window font to match the terminal font? You can even try to install and use a Powerline-patched font. It might render nice geeky resu

[2016-08-24 18:48] kumarharsh commented on #29
Yes, that's what I wanted to say earlier: I think it's a conhost issue, not a pure or fish issue per se. I've tried changing fonts to 'Ubunut Mono' and even Source Code Pro, changing code pages in conemu, enabling pseudographic font, and some more things, but nothing helps.

[2016-08-24 20:35] rafaelrinaldi commented on #29
@kumarharsh @oranja I think it's more of a unicode issue. It's not a perfect mapping between OS's. We can create a table of characters to use based on that. Should fix the issue.

[2016-08-29 20:45] edouard-lopez commented on #29
@kumarharsh This is a BashOnWindows issue, please report to the official [BashOnWindows repo](https://github.com/Microsoft/BashOnWindows) or search for [font-related issue](https://github.com/Microsoft/BashOnWindows/issues?utf8=%E2%9C%93&q=font).
Please, drop a link to this tread when you find a solution.

[2016-08-29 20:45] #29 closed

[2016-12-07 22:28] Shougo commented on #2
I think this issue should be closed by #30.

[2016-12-07 22:34] rafaelrinaldi commented on #2
@Shougo That's true. Thanks!

[2016-12-07 22:34] #2 closed

[2016-12-08 16:25] bfred-it opened #31 "Line breaks break the line"
Hello! Here's the bug I mentioned on Twitter.

0. I just installed pure via curl
0. I pasted the curl command again
0. I pressed the left arrow key multiple times to go back to the first line
0. I only pressed `.`

![timeupdate](https://cloud.githubusercontent.com/assets/1402241/21017845/92d7f5da-bd1f-11e6-92f3-67faabe55937.gif)

Notice how an extra `f` pops out :(

I'd like to know if it's just m

[2016-12-09 08:24] edouard-lopez commented on #31
Can't replicate on `2.4.0`, which version of `fish` do you use?

Could you try to update if not on the last `fish`?

[2016-12-09 16:19] bfred-it commented on #31
It seems that it was related to my other config in `config.fish`

Now the issue is making pure persistent :D

I installed it with fisher but it still goes away when I open a new window

[2016-12-09 16:19] #31 closed

[2016-12-12 13:34] bfred-it opened #32 "Make it persistent"
I tried installing it via curl and via fisher, but pure is only applied in the current session, it doesn't persist across tabs/windows/sessions.

How do I set it up?

[2016-12-12 14:34] edouard-lopez commented on #32
That's weird, could you test on a vanilla environment without other config?

[2016-12-13 21:37] rafaelrinaldi opened #33 "Can't report window title on Terminal.app"
For some reason, when I use Terminal.app instead of iTerm2, `pure` don't report the title the way it's supposed to.

What comes to mind:

- Has to do with `$TERM`
- Problem with fish itself

[2016-12-19 15:36] rafaelrinaldi opened #35 "Tests"
Starting this issue to discuss best approaches to test fish code.

Some of the things I would love to test:

- Prompt features (symbols, order of how things are rendered, etc)
- Git integration (dirty branches, active branch, etc)
- Prompt consistency across different OS
- Speed (new implementation vs. "production" one, make sure there's no regressions were introduced)

Would love to hear from eve

[2016-12-19 22:33] Shougo commented on #35
It is good to add the tests.
I don't know the best approach to test fish code though.

[2016-12-20 16:56] edouard-lopez commented on #35
I did [some tests](https://github.com/edouard-lopez/fish-ssh-agent-1) using [fishtape](https://github.com/fisherman/fishtape) it's pretty straight-forward to setup. However, I'm not sure everything will be worth  testing if we considering the cost to do it. IMHO,
* [x] prompt: unit test, so OK ;
* [x] git integration: sounds like integration tests as it require `git` context ;
* [ ] consistency be

[2016-12-20 17:51] rafaelrinaldi commented on #35
@edouard-lopez Great feedback. Yeah, I agree with what you said, I was just throwing some ideas out.

I think testing prompt and speed are the most important ones here. And what I mean by speed is to simply run a little benchmark from the current implementation and a release candidate to see if we're not doing anything crazy that's affecting processing in a negative way. It's very important that `

[2017-01-05 07:15] amosbird opened #36 "Always print CMD_DURATION"
Is there a configuration that make `pure` to echo `CMD_DURATION` no matter what the ret code is? How can I modify the time threshold?

[2017-01-05 15:48] amosbird commented on #36
@edouard-lopez

[2017-01-18 03:35] rafaelrinaldi opened #37 "Broken prompt"
After introducing the prompt customizations on our last release, I think we might have broken something. Just did a fresh install on a new computer via both the default installer script and _Oh My Fish_ and I the prompt is not displaying symbols.

See the screenshot:
<img width="842" alt="screen shot 2017-01-17 at 10 34 07 pm" src="https://cloud.githubusercontent.com/assets/87162/22049985/14fca98e

[2017-01-18 14:29] edouard-lopez commented on #37
I was unable to [reproduce in a Docker environment with a fresh install](https://github.com/rafaelrinaldi/pure/wiki/Test-in-a-Docker):

![selection_055](https://cloud.githubusercontent.com/assets/1212392/22067635/63a078ee-dd92-11e6-9479-9c33c049b582.png)

* The prompt switch from: `root@35baafcaf81b /#` to `❯`
* got `cd` hints ;
* got git status ;
![selection_056](https://cloud.githubusercontent.c

[2017-01-18 15:21] rafaelrinaldi commented on #37
@edouard-lopez So weird. I removed all my configuration and I still have this weird behavior.

[2017-01-18 20:30] edouard-lopez commented on #37
@rafaelrinaldi did you reproduce on the docker ? Might be your terminal application.
Or maybe try to go back in the git history.

[2017-02-03 15:21] rafaelrinaldi commented on #37
It was some junk living on my `$HOME`. All good now 👍

[2017-02-03 15:21] #37 closed

[2017-02-03 15:27] rafaelrinaldi opened #38 "Broken after fish update?"
Just updated fish to `2.5.0` today and it seems like prompt is broken (yup, it's me again!). This is what I get:

[code]

Anyone else experiencing the same issue?

[2017-02-04 22:50] sagebind commented on #38
This not in the [release notes](https://fishshell.com/release_notes.html) looks to be the problem:

[2017-02-06 19:35] #38 closed

[2017-02-06 19:41] rafaelrinaldi commented on #32
@bfred-it Is this still an issue?

[2017-02-06 19:43] rafaelrinaldi commented on #21
@jisuoqing Thanks for your suggestion but since it has been a year already and we still don't have any PRs in place for this, I'm going to close the issue. Feel free to submit a PR anytime 👍

[2017-02-06 19:43] #21 closed

[2017-02-06 19:44] rafaelrinaldi commented on #20
Thanks for the discussion on this thread, lots of great insights here. Closing it since we already published two releases already 👍

[2017-02-06 19:44] #20 closed

[2017-02-07 00:34] bfred-it commented on #32
Still an issue, I'll have to try a new environment

[2017-02-07 00:37] rafaelrinaldi commented on #32
@bfred-it Is Fish itself persisted across sessions?

[2017-02-07 01:02] bfred-it commented on #32
Yes

[2017-02-07 01:19] rafaelrinaldi commented on #32
@bfred-it Hm, that's very weird. Let me know once you can reproduce it so I can help you out 👍

[2017-02-07 09:50] attilagyorffy opened #40 "test returned eval errors"
Hi there,

This is an issue that started surfacing after I've upgraded to the latest version (2.5) of fish. I'm using fisher.sh to manage the fish *plugins*.

My guts tell me that there's an issue in the `fish.prompt` code but I'm not a fish expert. This happens every time I run a command:

[code]

![screen shot 2017-02-07 at 10 27 39](https://cloud.githubusercontent.com/assets/9091/22685392/73c72

[2017-02-07 10:17] edouard-lopez commented on #40
This is fixed by v1.0.1, please update

    fisher update pure

see #38 for context.

[2017-02-07 10:17] #40 closed

[2017-02-07 10:55] attilagyorffy commented on #40
Hmm, I thought I have updated before... Never mind. Reinstalling pure worked. Thank you @edouard-lopez

[2017-02-07 11:13] edouard-lopez commented on #32
Do you [reproduce in Docker](https://github.com/rafaelrinaldi/pure/wiki/Test-in-a-Docker)?

[2017-02-12 13:59] bfred-it commented on #32
Solved it. I had this in my `~/.config/fish/config.fish` file, which overrode **pure**'s:

[code]

I finally figured it out after reinstalling fish, fisherman and after several errors try an empty `config.fish` (I thought I had tried that before)

For personal reference, here's how I reinstalled everything:
[code]

[2017-02-12 13:59] #32 closed

[2017-02-15 06:52] benedictleejh opened #41 "Username and host not displayed when in an SSH session"
As per the title, the username and host is not displayed when in an SSH session. Just to be sure, I've tried looking through the code, and couldn't find any location where the SSH session is being tested for, and the username and host being displayed.

[2017-02-15 14:42] rafaelrinaldi commented on #41
You are right. For some reason I thought this was implemented but we haven't pushed it yet. Will update the readme file so it's not misleading.

Thanks for the report and feel free to open a PR if you want 👍

[2017-02-15 14:42] #41 closed

[2017-02-21 21:16] bjorngylling commented on #36
I know this is closed but it seems like the sensible place to ask, why isn't the default behaviour to show the last command execution time always (given it exceeds a threshold)? That is how pure-zsh works after all. I can't see any reason to only show the duration for commands that failed, it makes no sense.

I forked pure-fish and changed this behaviour to be in line with pure-zsh, commit availab

[2017-02-21 21:56] rafaelrinaldi commented on #36
@bjorngylling Hey, thanks for your suggestion. Our idea here is indeed to be as consistent as possible with the original plugin. Both have an option where you can configure the execution time threshold but you are right, I don't know why we only show it for failed commands. Good catch.

I will open an issue to track this and will mention you 👍

Just one thing, the tone you have used here doesn't s

[2017-02-21 22:11] bjorngylling commented on #36
I apologise if it came across as hostile or demanding, that was not my intention. It seemed as if the original posters' request got shot down even though it is how it works in pure-zsh. I'd be happy to create a pull request for this if you are interested.

[2017-02-21 22:39] rafaelrinaldi commented on #36
@bjorngylling That's quite alright, no problem. I understand that communication over text can be tricky sometimes.

If you feel like opening a PR for that it would be awesome 👍

Thanks again.

[2017-03-03 21:41] selfagency opened #44 "line break before prompt"
is there a way to get rid of this line break i'm getting before the prompt?

<img width="230" alt="screenshot 2017-03-03 16 41 05" src="https://cloud.githubusercontent.com/assets/2541728/23569996/3ffaa6a6-0030-11e7-8bbb-1b7fcb6cd255.png">

[2017-03-03 23:01] rafaelrinaldi commented on #44
Hum, interesting. Line breaks are only supposed to happen after your first input. Is this weird triangle-shaped character being displayed every time?

[2017-03-05 09:14] edouard-lopez commented on #36
@bjorngylling @amosbird  Sorry if I sounded a bit harsh, it's wasn't my intent to discourage contributors. I reckon the variable was rename from `CMD_DURATION` to [`PURE_CMD_MAX_EXEC_TIME`](https://github.com/sindresorhus/pure#pure_cmd_max_exec_time).

Feel free to submit a PR so we can improve the situation.

[2017-03-05 09:22] edouard-lopez commented on #36
I realize this has been managed in a new issue.

So closing this one in favor of #43.

[2017-03-05 09:22] #36 closed

[2017-03-05 10:00] edouard-lopez commented on #44
@selfagency I got the same behavior in [`zsh-pure`](https://github.com/sindresorhus/pure/blob/master/pure.zsh#L137-L139) so it's the expected behavior.

Anyway, if you want to change it, it comes from the test on [`pure_fresh_session`](https://github.com/rafaelrinaldi/pure/blob/8b4444c009db5afa43422967a94b014b6173cecf/fish_prompt.fish#L48).

[2017-03-05 10:00] #44 closed

[2017-03-06 17:17] selfagency commented on #44
the weird triangle is my iterm fish shell integration

[2017-03-17 21:13] keithschulze opened #47 "Missing argument while setting threshold in __format_time.fish"
I just updated `pure` using oh-my-fish and I'm getting the following error every time I open a new shell.

[code]

Result of `omf doctor`:

[code]

Any advice on what might be wrong? Thanks in advance.

[2017-03-19 17:13] rafaelrinaldi commented on #47
@keithschulze Hey, thanks for the report. This is indeed an odd behavior, since it seems to be complaining about a variable that should be a default value set. Let me ask you two things:

1. Have you set a custom value for `pure_command_max_exec_time` by any chance?
2. Can you try to run the _dockerized_ version of the project and see if the error persists?

[2017-03-19 22:30] keithschulze commented on #47
I can confirm that #48 fixes the issue. Upgrading to fish 2.5.0 also does. Thanks for your help.

[2017-03-20 15:45] rafaelrinaldi commented on #47
@keithschulze Thank you for reporting and for using pure :v:

[2017-03-20 15:45] #47 closed

[2017-03-28 18:42] hutruhup commented on #44
Works fine with item. But it seems there is still compatible issue with hyper.
It has a line break and path before the first input when open a new window, but no problem with new tabs.
![First Open](https://cloud.githubusercontent.com/assets/26748166/24420430/de15db0a-13c0-11e7-9239-6828d12969ab.png)

[2017-03-28 19:41] rafaelrinaldi commented on #44
@hutruhup Hum, weird... I have Hyper installed here and it works perfectly. Let me know if you can come up with a consistent way to reproduce this.

[2017-03-28 19:47] hutruhup commented on #44
While installing with fisherman, it shows the same as the screenshot. With omf, it doesn't have line break before first input but still have double path.

[2017-04-04 00:58] pierrebeaucamp opened #49 "Work around native fish prompt for long filepaths"
Hey,

I just switched to fish and ran into the issue of it changing my prompt to `>` if the line is really long. This behavior is documented here: https://github.com/fish-shell/fish-shell/issues/904.

As *pure* is a two line prompt, this behavior is not needed. Apparently one can work around this issue by wrapping the first line in a `--on-event fish_prompt` function, as suggested here: https://gi

[2017-04-04 01:57] rafaelrinaldi commented on #49
@pierrebeaucamp Thanks for your report. Would you be willing to provide a way to troubleshoot current behavior vs. expected? It's still unclear to me what the expectations are.

You can also submit a PR if you feel like it, I'm happy to provide support 👍

[2017-04-05 18:45] pierrebeaucamp commented on #49
Sorry for the late reply. I was actually not sure what the exact behavior was in zsh, so I had to go back and install it again.

Using zsh and pure, once the filepath grows longer / wider than the terminal window, it tries to shorted the filepath to make everything fit. For example, instead of displaying `/home/pierrebeaucamp/code/foo/...` it would display `~/code/foo/...`.

Interestingly enough,

[2017-04-07 14:42] andrroy opened #50 "Display virtualenv in prompt"
Hi! I've just started using pure, and I'm really liking it so far. The only thing I'm missing, is having my virtualenv show up in my prompt if sourced. Is it possible for me to extend my prompt, so that the name of the virtualenv is added?

[2017-04-13 13:25] pierrebeaucamp commented on #35
I would love to help out with this issue, but could you provide a bit more details regarding:

1. where you want those tests to run? Do you have a preferred CI service like Travis CI or Circle CI?
2. How would you tests the performance? Measure the time for cd'ing into git directories? What else would be worth testing?

I would set up some integration tests on my fork and open an PR once I'm satis

[2017-04-14 09:22] edouard-lopez commented on #35
@pierrebeaucamp

For CI, I use Travis as it's pretty simple to setup, still I'm open to alternative.

I think it's relevant to run the test in a container as we want a controlled environment with minimum configuration pollution. I would suggest to go for a docker as we [already used it for some tests](https://github.com/rafaelrinaldi/pure/issues/26#issuecomment-210014662), maybe creating our own d

[2017-04-14 14:27] pierrebeaucamp commented on #35
Travis & docker sound good to me.

My primary use case for analyzing performance is the time it takes to change directories, especially git directories. I'm coming from zsh, where there was no overhead at all of painting the prompt (as all the git commands were performed asynchronously). Ever since switching to fish, I miss the responsiveness of just navigating around.

It's easy enough the measur

[2017-04-19 09:51] edouard-lopez commented on #35
@pierrebeaucamp I reckon the asynchronous version has been added in the past 1-2 years as it wasn't present when I was using `zsh` more intensively.

So that's something we need to work on.

[2017-04-22 13:04] herrbischoff opened #52 "Array index out of bounds"
Installing pure via `fundle` on macOS 10.12.4 works as expected. Installing it the same way on a FreeBSD 11 machine does not:

[code]

Also note the missing `❯`.

This seems to be similar to #47 but I'm already using the latest master of pure and fish 2.5.0, it appears the issue is not fully resolved yet.

[2017-05-11 14:21] herrbischoff commented on #52
It turned out to be an issue with fundle, which I have dropped since in favor of manually installing the handful of add-ons I need. Therefore, I'm closing this issue.

[2017-05-11 14:21] #52 closed

[2017-05-11 14:29] rafaelrinaldi commented on #52
@herrbischoff Thank you for reporting it. I'm glad it is already solved. Let us know if you find anything wrong with it in the future 👍

[2017-05-11 14:38] rafaelrinaldi commented on #50
Hey thanks for your suggestion! I am glad that you find `pure` helpful.

Even though I don't personally take much value by adding this feature I am willing to give it a go if users like it. The only thing that comes to my mind is regarding the behavior for virtual envs on the original ZSH version?

I think this is also a good opportunity to share something I've been thinking about lately... I have

[2017-05-11 14:42] rafaelrinaldi commented on #35
Thank you @pierrebeaucamp for volunteering on this. I have already expressed that this is something that I personally value a lot as you can see on my comments above.

As long as you can work on top of our current Docker based approach and provide benchmarks, you can pretty much go crazy and do whatever you feel like it would fit the project better 👍

Let us know if we can help with anything.

[2017-05-23 11:50] mortenvn commented on #50
@rafaelrinaldi: Actually, this feature has just become part of the original ZSH version as well. I submitted a PR (https://github.com/sindresorhus/pure/pull/325) which has now been merged.

In other words, merging #54 would just mean supporting another feature from the original theme 😃

[2017-05-24 10:47] oranja commented on #50
@rafaelrinaldi I never used zsh, but I respect your principle of staying in synchronization with the source. It justifies the name.
If there's value and desire (yours or anyone else's) to departing from the source and experimenting, the fork is just a click away.

[2017-07-04 15:28] heyarne opened #55 "Prompt disappears when entering some folders"
I know this is really vague, but I'd love some help on debugging this: The prompt looks very different when entering some folders. A screenshot might show better what I mean:

![screen shot 2017-07-04 at 17 27 01](https://user-images.githubusercontent.com/525780/27836051-052fc632-60de-11e7-9aec-874fe6b31007.png)

The folder contains a git repository, but that alone should not be the reason. I have

[2017-07-04 15:34] heyarne commented on #55
What's even weirder: I issue `git checkout master` and the prompt reappears in its old glory. The branch name I was on before was `bugfix/filter-is-not-a-function`.

[2017-07-05 08:31] oranja commented on #55
This seems like a bug in handling some git repo state.
To get a better idea and to cross out or consider other possibilites, are you using `virtualenv` or something similiar in the directories that fail?
In general, can you point out to anything in common to the repositories that make `pure` fail? submodules? detached heads? branches? remotes? unstaged changes? local unpushed commits?

[2017-07-05 21:19] heyarne commented on #55
I do not have a virtualenv in it. The repo does not have submodules, it's not in detached head state, unstaged changes or not don't really make a difference. I'll try to find more cases and I'll try to find some common properties in them.

[2017-10-22 15:36] vadikace commented on #55
+1
Also had the same issue a while ago, if needed would like to assist in fixing it

[2017-10-23 19:57] rafaelrinaldi commented on #55
@heyarne Thanks for the report, this behavior does look weird indeed. Please, try to come up with reproducible steps so we can better assist you.

@vadikace You are more than welcome to jump into this issue if you feel like it 👍

[2017-11-21 16:57] Grafikart opened #56 "Git async"
First I want to thanks you for this prompt, it looks really nice.
But I have one issue when working on very slow hard drive, the shell freezes when entering a new directory (when pure tries to fetch git informations). Do you think it would be possible to [retrieve git information asynchronously like the original pure](https://github.com/sindresorhus/pure/blob/c985b1979abfaf7860e7cc6ebf5d91eaeaca14

[2017-11-30 14:03] heyarne opened #57 "Rendering errors with emojis"
I'm not quite sure whether the source of this bug lies in this theme, but when I use emojis there is double rendering of text sometimes. A screenshot might clarify what I mean:

<img width="892" alt="screen shot 2017-11-30 at 14 59 56" src="https://user-images.githubusercontent.com/525780/33434330-4dd8e85c-d5df-11e7-9bfc-7eb079f56f89.png">

The same does not happen with regular characters. The scr

[2017-12-06 15:55] rafaelrinaldi commented on #56
@Grafikart Hey, thank you for using the project and for your interest in making it better! This is a great idea and I thought about it myself. The problem is that as far as I know fish doesn't support running multiple processes in parallel. There are a few hacks I can think of so it might be worth a shot.

Feel free to give it a try. Whenever I find the time I will also work on it, we can plan for

[2017-12-12 20:17] sandersantema opened #58 "Vim Indicator"
Is there any way to integrate the native fish_vim_prompt into the pure prompt?

[2017-12-17 23:44] gvieira opened #59 "Terminal emulator and theme"
Hi there,

Would you mind telling us which is that beautiful terminal emulator (and theme) from the README.md?

Thanks!
GV

[2017-12-18 10:05] gvieira commented on #59
Nevermind! I think I found out: [Hyper](http://hyper.is) and [PaperColor](https://www.npmjs.com/package/hyper-papercolor), am I wrong?

[2017-12-18 10:05] #59 closed

[2017-12-19 09:29] #49 closed

[2017-12-19 09:38] edouard-lopez opened #60 "Versionning"
@pierrebeaucamp @rafaelrinaldi I pushed some tags on the recent merges and feature additions loosely following [semver](https://semver.org/).

So we are now on version `1.6.0` 🎉 !

Please consider tagging the project for upcoming feature additions :)

[2017-12-20 16:29] rafaelrinaldi commented on #59
@gvieira You are correct 👍

[2017-12-21 15:36] edouard-lopez commented on #60
I'm creating [some releases](https://github.com/rafaelrinaldi/pure/releases).

I'm closing this issue as it's main purpose was to keep you guys up-to-date

[2017-12-21 15:36] #60 closed

[2017-12-21 15:42] edouard-lopez commented on #57
@heyarne
Could you paste the content of the line seen above so we can try to reproduce?

[2017-12-21 15:44] heyarne commented on #57
I'm not quite sure I get the request. The output is:
[code]

The original commit (gc is aliased to `git commit`) was:
[code]

[2017-12-21 21:03] rafaelrinaldi commented on #60
@edouard-lopez Thanks a lot for the hard work Edouard.

[2017-12-30 10:31] andyperisho opened #62 "Working Directory not printed on first run"
I looked in the code, and it seems that the current working directory is printed on top for the prompt everytime, unless if it's the first time fish is invoked.
Is there a way to change this behavior?

Also, I noticed that when I clear the screen, the prompt is on the third line. First line is empty, second line is the working directory. Any chance this empty line can also be removed?

Cheers

[2018-01-02 10:56] edouard-lopez commented on #57
I can't reproduce on either Terminus nor Yakuake terminal. Could you try:

1. to simplify your config to narrow down the issue.
1. use `git commit` instead of the alias
1. look for conflicting auto-completiong methods.

[2018-01-02 11:05] edouard-lopez commented on #62
It's come from [preprompt](https://github.com/rafaelrinaldi/pure/blob/master/fish_prompt.fish#L78)

You're right, the new line is added [each time a prompt is displayed](https://github.com/rafaelrinaldi/pure/blob/master/fish_prompt.fish#L53-L56) except if it's a new session. It will be better if we could remove it on clear, you could have a look at the [original zsh theme](https://github.com/sindr

[2018-01-03 06:26] andyperisho commented on #62
i realized that i didn't explain myself properly. What I actually wish for, is to have the CWD printed all the time, especially on the first run. No matter what kind of permutations I tried, I still didn't figure out how to make it happen!

Regarding the new line, after testing, I understand it's purpose when the screen is not meant to be cleared since it adds some space. I am not sure how to make

[2018-01-03 16:25] rafaelrinaldi commented on #57
@heyarne This looks like a GUI/Font issue. What terminal application are you using? Is your Fira Mono patched for Powerline?

[2018-01-03 16:43] rafaelrinaldi commented on #62
I understand what you want but this behavior was purposefully added to be consistent with the original theme. Unless they've changed this to behave the way you expect either by default or via config, I would like to keep it as is for simplicity's sake.

You could probably try setting `pre_prompt` as a global variable under your own local fish config so it would take precedence over the value we se

[2018-01-03 16:43] #62 closed

[2018-01-03 16:59] heyarne commented on #57
I'm using Terminal.app 2.8 (400), the one shipping with macOS 10.13. A more minimal example:

[code]

As soon as I type the closing `'` it looks like this:

<img width="892" alt="screen shot 2018-01-03 at 17 54 37" src="https://user-images.githubusercontent.com/525780/34530352-33e7540c-f0af-11e7-81b8-f6ad8ab2ff0f.png">

When I delete the last backspace this is the result:

<img width="892" alt="sc

[2018-01-03 17:07] rafaelrinaldi commented on #57
This is a fish issue. See: https://github.com/fish-shell/fish-shell/issues/2652

Closing this issue for now. Feel free to open a new one if I missed something or submit a PR with a fix.

[2018-01-03 17:07] #57 closed

[2018-01-04 05:51] andyperisho commented on #62
I managed to get the behavior I was looking for by adding
[code]

to my `fish.config`.

Cheers!

[2018-02-14 00:56] KadenGordon opened #64 "Commands finish but with errors"
I am running the newest versions of fish, omf, etc. This example is with the command `clear`

Note: This only happens on this theme

Details:
[code]

[2018-02-15 10:48] edouard-lopez commented on #64
Can you provide version for `fish`, `omf`, `OS` and `echo $SHELL`

Also formatting your question properly would help.

[2018-03-02 13:19] heyarne commented on #55
I've been able to reproduce the behavior whenever the path + git status exceeds a certain length. I attached some screenshots to clarify what exactly I mean:

<img width="850" alt="screen shot 2018-03-02 at 14 02 49" src="https://user-images.githubusercontent.com/525780/36900183-8e800dc8-1e22-11e8-9e5a-cf36e56d47a1.png">

Terminal at 104x24, length of path + git status: 94 chars

<img width="843"

[2018-03-02 14:13] rafaelrinaldi commented on #55
@heyarne Thanks for the details. We will look into it.

@vadikace Still wanna attempt a PR?

[2018-03-05 10:19] edouard-lopez commented on #55
I can't reproduce with:

[code]

[code]

[2018-03-05 14:51] edouard-lopez commented on #55
@heyarne
I created a [docker image `pure-fish`](https://hub.docker.com/r/edouardlopez/pure-fish/) if you want to try on a clean env.

cc @rafaelrinaldi

[2018-03-05 15:14] heyarne commented on #55
Oh wow... this is a bit embarassing. `fisher install pure` doesn't install `rafalrinaldi/pure` but instead pure from [this repo](https://github.com/vkovtash/pure). Indeed, couldn't reproduce the issue after executing `fisher rm pure; fisher install rafaelrinaldi/pure`. I'm going to close this, thanks for the effort and sorry! I assumed there was just one port.

[2018-03-05 15:14] #55 closed

[2018-03-07 09:45] edouard-lopez commented on #55
As mentioned in this [`fisherman` issue](https://github.com/fisherman/fisherman/issues/410#issuecomment-370649373), it might be due to a previous install of ` vkovtash/pure` that was cached in the `fishfile`.

[2018-03-10 04:37] KadenGordon commented on #64
Fish version 2.2.0, omf version 6, Linux Mint 18.3 (note: i think this is it, just installed in my rpi and it works beautifully), echo $SHELL produced /usr/bin/fish

[2018-03-10 04:44] KadenGordon commented on #64
I also have a USB flash of Mint and it occurs there too. It seems to be the OS. I have had similar problems in Mint based on permissions of files, so I did ```chmod 7777 ~/``` and it didn't work. I also searched for anything related to omf elsewhere and did chmod on that too. It didn't work

[2018-03-10 04:44] KadenGordon commented on #64
Hope this info is helpful. I really want to be able to use pure

[2018-03-28 09:58] edouard-lopez commented on #64
Your fish version is too old, [`string` was introduced in fish `2.3.0`](https://github.com/fish-shell/fish-shell/blob/master/CHANGELOG.md#fish-23b1-released-april-19-2016) here is my setup:

[code]
[code]

There is an [official PPA](https://launchpad.net/~fish-shell/+archive/ubuntu/release-2)

[2018-03-28 09:58] #64 closed

[2018-03-30 08:48] iamajvillalobos opened #65 "Option to make prompt 1 line"
Is it possible to have an option to be like this? https://github.com/DFurnes/purer.

[2018-04-06 01:50] MaxMilton commented on #56
The async git functionality is one of the things that really drew me to the original pure back when I used zsh. Would be amazing to see it in this project.

[2018-04-12 14:12] schrodincat opened #66 "Update first line on "Alt + ←" and "Alt + →""
**related:** #68

---
Fish allows user to go back and forth in directory history with `Alt + ←` and `Alt + →`. Pure should update first line of the prompt containing current directory after changing it using those key combinations.

Right now, the directory on the first line updates to proper value only on the next prompt. Built-in prompts seem to update directory without any issues.

<sub>Sent wi

[2018-04-12 18:43] rafaelrinaldi commented on #66
@schrodincat Thanks for your suggestion. I had no idea this was possible. We will look into supporting this feature on `pure`.

In the meantime feel free to submit a PR if you feel like it.

[2018-04-13 15:28] schrodincat commented on #66
@rafaelrinaldi I’ll do a PR, no problems👌 I’ve managed to fix this issue, but I’ve also noticed there is something fishy going on (couldn’t help myself, sorry, I’m new to fish 😅).
Is there any reason we evoking  `pre_prompt` through event handler? Because, it seems, it isn’t called when going through directory history. It is also not called on the terminal opening (at least for me with Terminal.ap

[2018-04-14 11:28] schrodincat opened #67 "First line isn't rendered on Terminal.app open in macOS"
**related:** #68

---

Expected behaviour:
<img width="682" alt="screen shot 2018-04-14 at 14 27 07" src="https://user-images.githubusercontent.com/13354491/38767755-0b49f280-3ff0-11e8-8fe1-3b6863778153.png">
Actual behaviour:
<img width="682" alt="screen shot 2018-04-14 at 14 23 24" src="https://user-images.githubusercontent.com/13354491/38767758-13d9d6a4-3ff0-11e8-9803-26a7c23a8b31.png">

[2018-04-15 00:46] tkadur commented on #56
Until this happens, could we get an option to disable the git features? I'm experiencing slowdowns due to pure, and this is likely the cause.

I can give it a shot, though I don't have much experience with this sort of thing so the quality of my contribution might not be great.

[2018-04-15 20:38] MaxMilton commented on #56
@tkadur good idea! I would be interested in such a feature too. I manage my git repos separately, the CLI prompt is more of a visual cue or quick reminder anyway.

[2018-04-16 03:16] MaxMilton commented on #56
I've since found and switched to a different port of the pure theme — <https://github.com/vkovtash/pure>. It tool a little tweaking to get it working but it may be worth looking into for ideas about async git functionality.

[2018-04-18 20:47] boyeborg opened #69 "Different colors than the zsh-version"
**related:** #70

---

Why are the default colors different from the ones used in [the zsh-version](https://github.com/sindresorhus/pure)?

[2018-04-19 19:36] boyeborg commented on #69
I see. Would a pull request changing the colors to the ones used in the zsh version be welcome? I think it would make more sense to use the same colors, but I agree that it's not a big deal as they are easily configured by the individual user.

[2018-04-19 21:16] boyeborg commented on #69
Great!

[2018-04-20 19:48] boyeborg opened #71 "Remove `dist: xenial` option from travis config"
The `dist: xenial` option is currently only [added for experimental reasons](https://github.com/travis-ci/travis-yml/pull/16), and will not work reliably (see [this issue](https://github.com/travis-ci/travis-yml/issues/15), and [this comment](https://github.com/travis-ci/travis-ci/issues/7260#issuecomment-354350596)).

I don't think it is needed, thus suggest just removing it from the travis confi

[2018-06-10 10:30] heyarne opened #73 "Reset colors"
I have played around a bit with the `fish_config` web interface and realized that now my colors are a bit off - what's the best way to revert the changes? I tried `grep`ping and unsetting the values I found in `set -U` but that left me without any colors on input, even after reinstalling this theme. Any advice?

[2018-06-11 17:57] dallagi commented on #67
I'd like to see this solved too, especially since it doesn't only happen when the window is opened, but it happens when the terminal is cleared using the CTRL-L shortcut (while explicitly calling the `clear` function works as expected for some reason).

A fix that worked on my local setup is to change the way the `pre_prompt` function is called.

Instead of calling it implicitly with an event hand

[2018-06-12 15:10] rafaelrinaldi commented on #67
@schrodincat Thanks a lot for working on that! I really appreciate it. I will have a look at it as soon as I have time.

[2018-06-12 15:30] rafaelrinaldi commented on #73
I am not really sure I understand your question. It sounds like a local Fish configuration on your end. Is this a problem specific to this theme?

[2018-07-10 00:39] #71 closed

[2018-07-10 00:52] rafaelrinaldi commented on #65
This comes up quite often actually. As I said a few times here before I personally would like to always stick to the original pure theme since the main idea of this project is to be a 1:1 from zsh to fish. If this is an option on the official theme (can you please check?) we can definitely look into supporting it (PRs welcome) but if not I'd like to stay out of it.

[2018-07-10 00:53] rafaelrinaldi commented on #58
Vim mode support was added by #45 and #46. Will be part of the `v2.0.0` release.

[2018-07-10 00:53] #58 closed

[2018-07-10 00:54] rafaelrinaldi commented on #56
@MaxMilton Would you be willing to help us add async support to this project? Your effort would be much appreciated (already is!).

[2018-07-10 01:00] rafaelrinaldi opened #74 "v2.0.0"
I think we're almost good to go on a `v2.0.0` release.

## Current checklist:

- [x] Vim mode support
- [x] Cleanup Travis configuration
- [ ] ~Async support (see #56)~ [postponed](https://github.com/rafaelrinaldi/pure/issues/74#issuecomment-453709771)
- [x] Better color customization options (see #69, #70)
- [x] Add tests for #63 (git status and git branch functions) and #96
- [x] :warning: namin

[2018-07-10 08:11] iamarmanjon commented on #65
No :), I respect your decision still. Thank you for your efforts on this one. I'm closing this now.

[2018-07-10 09:43] Grafikart commented on #56
Just a small warning about the port. If you use an passphrase for your SSH key, it will ask you the passphrase when reaching a directory with a remote repository (passphrase that you won't be able to enter since it's requested by the theme process).

[2018-07-10 16:00] rafaelrinaldi commented on #65
Thank you for your suggestion. If you have anything else you would like to see in the project please feel free to open an issue.

[2018-07-12 19:55] nautilus28 commented on #74
Hello,

Thank you all for an awesome plugin.

I have just upgraded to the latest version with Vim mode support. Is there any way to not showing the Vim mode indicator on the screen?

Thanks,
Canh

[2018-07-12 20:23] rafaelrinaldi commented on #74
Hey @nautilus28, this is happening because you probably have Vim mode enabled by default. To disable it you can either remove `fish_vi_key_bindings` from your Fish configuration file or run `fish_default_key_bindings`.

[2018-07-12 20:29] nautilus28 commented on #74
@rafaelrinaldi Many thanks for getting back. What I want is to enable Vim mode by default, but not showing mode indicator on the terminal, is it possible?

[2018-07-12 20:31] rafaelrinaldi commented on #74
This is not possible right now. We will show the indicators for vim mode at all times as of #58. I'm happy to accept a PR to get this in though.

[2018-07-12 20:32] nautilus28 commented on #74
@rafaelrinaldi okay, thanks. I will try to make it possible.

[2018-07-30 14:07] nesl247 opened #76 "Support Fundle"
It would be great if https://github.com/tuvistavie/fundle was supported. It looks like the reason it isn't is a custom installation system is used instead of a more standard fish setup.

Edit: I have since tested this out, and by simply moving the functions to a `functions` directory, everything works. See https://github.com/nesl247/pure/tree/feature/fundle-support

[2018-08-09 15:23] edouard-lopez commented on #76
Thanks @nesl247, I created a PR based on your code (cf. #77).

[2018-08-13 13:59] rafaelrinaldi commented on #76
Thanks for the heads up @nesl247!

[2018-09-10 21:13] schrodincat opened #81 "Manual installation method is broken"
Script for manual installation is broken due to functions moved to separate directory

[2018-09-12 10:54] edouard-lopez commented on #81
Hi @schrodincat,
you're right, I reckon the docker image I used for the tests give false positive.

I'm working on it, thanks :)

[2018-09-12 11:04] schrodincat commented on #81
@edouard-lopez I've already fixed it in my PR:
https://github.com/rafaelrinaldi/pure/pull/68

[2018-09-12 16:31] edouard-lopez commented on #81
The test should've catch this, I'm working on it/

[2018-09-13 14:59] edouard-lopez commented on #81
@schrodincat It should work now, can you review it? I also added tests on the installer, see [how to run them locally](https://github.com/rafaelrinaldi/pure/blob/master/installer.md).

You might need to update your PR #68

[2018-09-13 15:01] edouard-lopez commented on #76
closed by #78

[2018-09-13 15:01] #76 closed

[2018-09-13 15:04] nesl247 commented on #76
Thanks for the fix.

[2018-09-13 17:57] schrodincat commented on #81
I can check it, but not before Tuesday, unfortunately😔

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-09-13 18:42] edouard-lopez commented on #35
See [`tests/` directory](https://github.com/rafaelrinaldi/pure/tree/master/tests) and [`installer.md`](https://github.com/rafaelrinaldi/pure/blob/master/installer.md) to see how we do tests with [`fishtape`](https://github.com/fisherman/fishtape) and `docker`.

Closing as inactive for the last year and a half.

[2018-09-13 18:42] #35 closed

[2018-09-13 19:01] edouard-lopez commented on #33
Closing as inactive for 2 years

[2018-09-13 19:01] #33 closed

[2018-09-13 19:05] edouard-lopez commented on #50
Thanks to @mortnod's PR #54 being merged we can close this one :+1:

[2018-09-13 19:05] #50 closed

[2018-09-13 19:52] edouard-lopez commented on #74
@rafaelrinaldi we should add some tests on `fish_prompt` and `pre_prompt` (which are a big and ugly functions :cry:)

[2018-09-13 20:38] edouard-lopez commented on #73
@heyarne you can [grab the colors assignment from `fish_prompt.fish`](https://github.com/rafaelrinaldi/pure/blob/master/fish_prompt.fish#L22-L32). It's not inside a function so copy/paste should do

[2018-09-13 20:38] #73 closed

[2018-09-13 20:45] edouard-lopez commented on #66
Could you create a dedicated PR for this? Having a smaller scope helper review faster and release more frequently :+1:

[2018-09-14 10:48] schrodincat commented on #66
@edouard-lopez no, I don’t think so, the underlying issue is the same as for https://github.com/rafaelrinaldi/pure/issues/68, so if you fix one, you fix other automatically...

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-09-14 14:27] rafaelrinaldi commented on #74
@edouard-lopez I agree. We could do this after the v2 release though?

Many thanks for the hard work and getting the peding issues resolved. I feel like we're pretty much ready for a revamped version release, what do you think?

[2018-09-17 16:10] edouard-lopez commented on #74
@rafaelrinaldi I'm not comfortable with tests as an after-thought. However, as there is plenty of "legacy" code I don't want to block the release, instead add tests little by little and release more frequently.

[2018-10-04 12:47] jorgebucaran opened #83 "Move installer.fish to bin or tools directory"
Hello, @edouard-lopez @rafaelrinaldi. I'm preparing fisher's V3 release and noticed that fisher was copying an `installer.fish` file to my installation prefix functions directory. When installing a package, fisher will move fish files inside `functions/` and in the top-level directory of the project to your prefix functions directory (in that order).

I suggest putting `installer.fish` inside a `t

[2018-10-05 05:05] kenshohara opened #84 "Names of user and host in tab are ???"
I use fish and pure theme in my mac.
When I use ssh, the names of user and host are properly showed at the end of prompt.
But the names in tab prompt in my terminal of mac are showed as ???.
How can I solve it?

[2018-10-05 05:18] kenshohara commented on #84
After restarting my mac, ??? is not shown.
So, I solved it!

[2018-10-05 05:18] #84 closed

[2018-10-19 13:20] #83 closed

[2018-10-22 13:24] filipebarros opened #87 "Overriding definition of `fish_right_prompt.fish`"
At the moment, installing this plugin always overrides the `fish_right_prompt.fish`.

Can we just remove the `fish_right_prompt.fish` so it doesn't change the user defined `fish_right_prompt.fish` ?

[2018-10-25 03:27] benedictleejh opened #88 "Prompt broken"
After updating to the latest pure, the prompt seems completely broken. The line before the prompt doesn't show anymore, nor is a new line inserted before the next prompt.

![screen shot 2018-10-25 at 11 17 52](https://user-images.githubusercontent.com/1317666/47474045-dd302e00-d847-11e8-878e-73edc8aaa209.png)

![screen shot 2018-10-25 at 11 19 01](https://user-images.githubusercontent.com/1317666/

[2018-10-27 05:12] jorgebucaran commented on #87
@filipebarros Yes, you can. If you are using Fisher as your package manager and want to override a file included with Pure, I recomend [customizing your installation prefix](https://github.com/jorgebucaran/fisher#changing-the-installation-prefix) too.

[2018-10-27 05:13] jorgebucaran commented on #88
@benedictleejh Please state your installation method (manual, Fisher, Oh My Fish, Fundle) and fish-shell version.

[2018-10-27 05:52] jorgebucaran commented on #88
@benedictleejh It appears Oh My Fish is not copying Pure's [conf.d](https://github.com/rafaelrinaldi/pure/tree/master/conf.d) snippets to your fish directory (https://github.com/oh-my-fish/oh-my-fish/issues/646). Configuration snippets are the shell's canonical autorun mechanism since fish 2.3 (and 2.2 or older through [a shim](https://github.com/jorgebucaran/fisher/#legacy-fish-support)).

In the

[2018-10-27 05:54] jorgebucaran commented on #88
@benedictleejh Just in case, if the `XDG_CONFIG_HOME` environment variable is defined on your system, use `$XDG_CONFIG_HOME/fish` to find the path to your fish configuration directory.

[2018-10-29 06:14] benedictleejh commented on #88
Hmm, copying the configuration snippet to `~/.config/fish/conf.d` only partially works: the directory shows up now, but the terminal starts with a bunch of errors, related to the `__pure_set_default` function, and `test` is still complaining. I suspect this is due to the load order of Oh My Fish and `conf.d` snippets; `conf.d` seems to be loaded before all of the Oh My Fish stuff, and that causes

[2018-11-01 04:16] benedictleejh commented on #88
Copying (or linking as I've chosen to do instead) does work, apparently. One of my machines had an older install of Oh My Fish which didn't use a `conf.d` snippet to load, instead using `config.fish`, so pure's snippet got loaded before Oh My Fish. A newer install had the `conf.d` snippet, so Oh My Fish got loaded, then pure, thanks to the load order of `conf.d` snippets.

So that's the workaround

[2018-11-01 05:31] jorgebucaran commented on #88
Cool. You can close now.

[2018-11-01 05:32] jorgebucaran commented on #88
@benedictleejh Sounds good. Close?

[2018-11-01 06:08] benedictleejh commented on #88
Yeah, closing should be fine. Also, a note somewhere that tells Oh My Fish users about the workaround would be great as well.

[2018-11-01 11:42] #88 closed

[2018-12-06 21:53] edouard-lopez opened #90 "Prefix our functions to prevent conflict"
As discussed in [#68: Call prompt as a single function](https://github.com/rafaelrinaldi/pure/pull/68#discussion_r239424855):

[2018-12-07 11:43] jorgebucaran commented on #90
@edouard-lopez Yes, let's use `pure_*` (or if the function is "private", `_pure_*`) to prefix functions.

[2018-12-07 19:42] faho opened #92 "Why `command printf`?"
For some reason, `__format_time` does

[code]

4 times.

Fish has had a `printf` builtin since 2.0, while pure requires 2.3 at the very least.

The command not only takes longer, but is also not guaranteed to have the same features.

(I'm not actually sure why this uses printf in the first place since it just seems to do string concatenation?)

[2018-12-09 21:32] edouard-lopez opened #93 "Minimal requirement to run pure"
**related:** #91

---

Our [CI runs on Ubuntu trusty/`14.04.5`](https://travis-ci.org/rafaelrinaldi/pure/jobs/465104257) and install from [`ppa:fish-shell/release-2`](https://launchpad.net/~fish-shell/+archive/ubuntu/release-2/+packages). That means tests are run against

    fish - 2.7.1-1~trusty

Our [package manager tests suite](https://github.com/rafaelrinaldi/pure/blob/4cbceeb16a/tests/ci.tes

[2018-12-10 11:04] edouard-lopez commented on #93
Tests already require version `2.7.0` to run.

4e822a96 document minimum requirement to `2.4.0` to support #91

[2018-12-10 11:04] #93 closed

[2018-12-11 09:18] edouard-lopez commented on #90
I will remove the prefix in filename but keep it in function name.

Is it ok with you? cc @rafaelrinaldi

[2018-12-11 11:14] #67 closed

[2018-12-11 11:14] #66 closed

[2018-12-11 11:49] schrodincat commented on #90
I wonder if we should to assemble all pure functions in one file like fisher do, so it won't clutter functions folder. They have one `fisher.fish` file that have all fisher related functions.

[2018-12-11 11:55] schrodincat commented on #90
It won't work, fish autoloading mechanism demands functions to have the same name as the file name or it won't find it. It also means other functions inside this file are essentially private.

[2018-12-11 12:34] jorgebucaran commented on #90
FYI I do that in Fisher to make Fisher's installation a simple file download and I consider it a special case.

Generally, I would use one file per function. If you are using a package manager to install pure, it will handle moving `.fish` files in and out of your functions directory, so I am not bothered by pure's exporting more than one `.fish` function.

Just my two cents, ultimately this is up

[2018-12-11 13:10] schrodincat commented on #90
I'm making a PR

[2018-12-12 12:27] edouard-lopez opened #99 "Code conventions"
Following [discussion in #97](https://github.com/rafaelrinaldi/pure/pull/97#pullrequestreview-183884531) with @schrodincat, @jorgebucaran and @faho.

## Code Conventions for `pure`

### Public item

* variable: `pure_my_variable`
* function: `pure_my_public_function`
* filename: `pure_my_public_file.fish`
* test file: `pure_my_public_file.test.fish`

### Private item

* variable: `_pure_my_variabl

[2018-12-12 12:39] schrodincat commented on #99
We have private variables and variables supposed to be configured by end user, though

[2018-12-12 13:03] schrodincat opened #100 "Add CONTRIBUTING.md"
Add CONTRIBUTING.md (see https://blog.github.com/2012-09-17-contributing-guidelines/) to the project with code conventions described here: https://github.com/rafaelrinaldi/pure/issues/99

[2018-12-12 20:10] edouard-lopez commented on #100
The _pure_ community is still pretty small, I believe we can discuss issues/PR and design rather than throwing a modern "RTFM!" at contributors.

Upvote issue if you feel we need it.

[2018-12-12 20:32] #90 closed

[2018-12-12 20:42] edouard-lopez commented on #81
Does this issue still stand?

[2018-12-12 20:49] schrodincat commented on #81
Yes

[2018-12-12 20:54] schrodincat commented on #100
I just thought it would be logical place for code conventions to be instead of editing issue every time

[2018-12-12 20:54] schrodincat commented on #56
I can try to implement it

[2018-12-12 21:37] edouard-lopez commented on #56
@schrodincat I pinged @rafaelrinaldi to do it, I don't enough privileges on the repo.

[2018-12-12 21:45] #99 closed

[2018-12-12 21:46] #100 closed

[2018-12-12 22:04] edouard-lopez commented on #81
The current test for the manual install is invalid.

[2018-12-14 16:04] rafaelrinaldi commented on #69
The work to support this is available in #70. Closing for now.

[2018-12-14 16:04] #69 closed

[2018-12-14 16:04] rafaelrinaldi commented on #56
@schrodincat @edouard-lopez I am not sure what else I can do? I gave all the admins full privilege on GitHub as far as I can tell. Help?

[2018-12-14 16:06] rafaelrinaldi opened #102 "Issue installing via OMF"
For some reason when installing (or updating) via OMF, will return errors and break the prompt. This is what I see:

[code]

[2018-12-14 16:13] rafaelrinaldi commented on #102
Nevermind, just realized this is a known issue that is fixed by symlinking it.

[2018-12-14 16:13] #102 closed

[2018-12-14 16:18] rafaelrinaldi commented on #87
This is interesting... We do that to make sure the theme looks consistent accross the board but I can see this is annoying. Maybe we can keep overriding the file itself but instead of simply setting it to empty we can try to read it from the user environment. Something like:

[code]

What do you think?

[2018-12-18 15:13] rafaelrinaldi commented on #87
@filipebarros Would you be willing to open a PR with this implemented? I'd be happy to review it and merge it in.

[2018-12-18 15:17] filipebarros commented on #87
sure, I'll give it a go

[2018-12-21 09:30] edouard-lopez commented on #56
@schrodincat sorry for the delay, I'm working on #96 to add tests prior to new PRs

[2018-12-30 08:00] sholladay opened #107 "Weird output for command duration on Fish 3"
Hello! 👋

Thanks for this awesome project. I have been a happy user for about a year now.

I just upgraded to [Fish 3](https://github.com/fish-shell/fish-shell/releases/tag/3.0.0). Obviously it's very new and I wasn't expecting the prompt to even work necessarily. So far, on the surface at least, it seems to work fine, but I did encounter a display bug with the feature that shows the duration of t

[2018-12-30 13:00] edouard-lopez commented on #107
Hi @sholladay,
Thanks for testing the bleeding edge fish version :+1:

Could you give the value of `$pure_command_max_exec_time` and `$CMD_DURATION`?

    echo $pure_command_max_exec_time $CMD_DURATION

Displaying the command duration is determined by:
* [_pure_prompt_command_duration.fish](https://github.com/rafaelrinaldi/pure/blob/master/functions/_pure_prompt_command_duration.fish) and [tested]

[2018-12-30 13:08] edouard-lopez commented on #107
@sholladay What is the **exact fish version** you are running?

    fish --version

There is commits going [back](https://github.com/fish-shell/fish-shell/issues/4414#issuecomment-375892492) and [forth](https://github.com/jorgebucaran/fish-mono/pull/5) between `$CMD_DURATION` and lowercase `$cmd_duration`.

@faho Could you clarify how we should manage this?

[2018-12-30 13:48] faho commented on #107
It already _is_ managed.

This happens because the new `math` builtin defaults to float. To get integers like before, you have to add an explicit scale argument.

Which I've already done in d0a6427cd7f5498c9a33061c9dfdf43a5c4ffe92.

@sholladay: Please upgrade pure!

[2018-12-30 13:48] faho commented on #107
Oh, and "$cmd_duration" was a mistake that we've gone back on. There is no release with that name, so please continue to use $CMD_DURATION everywhere!

[2018-12-30 22:14] sholladay commented on #107
Ooof. Don't do what I did. I ran `fisher up` to update `pure` and everything went to hell. First follow the [migration guide for fisher v3](https://github.com/jorgebucaran/fisher/issues/450)! There is a section on how to get yourself out of that mess if it's too late.

Anyway, I got it all sorted out. Fish, fisher, and pure are all up to date and working well. 😀

Thanks for your help, all!

[code]

[2018-12-30 22:14] #107 closed

[2018-12-31 18:09] tucq88 commented on #88
I should never run `brew upgrade` :(( Fucking ruined my new year eve :((

[2019-01-01 04:07] tucq88 commented on #102
How did you fix it ? Can't find the `known issue` you mentioned

[2019-01-02 21:35] edouard-lopez commented on #102
@tucq88 it's in the [OMF's section of the readme](https://github.com/rafaelrinaldi/pure/)

[2019-01-03 11:11] bobmaerten opened #108 "test: Missing argument at index 2 again..."
Since upgrade to fish 3.0, I have those nasty error messages when using pure prompt. I installed pure manually:

[code]

After searching for the cause, it seems that `test` command will check for variable content before making the test:

[code]

It does not seem new to fish 3.0, but I think you added recently more way to filter configuration in recent releases so I don't really know how to handle

[2019-01-03 15:51] jgelens commented on #108
Make sure to load `pure.fish`. I think the installer doesn't take care of that (yet).

[2019-01-03 18:05] edouard-lopez opened #109 "remove vimode after running pure test"
After merging #96 running the tests suite would enable the [vimode prompt](https://github.com/rafaelrinaldi/pure/blob/master/functions/_pure_prompt_vimode.fish)

[code]

[2019-01-03 18:08] #109 closed

[2019-01-03 20:45] edouard-lopez commented on #108
I confirmed the issue on a fresh [ohmyfish container based on fish `3.0.0`](https://github.com/oh-my-fish/dockerfiles/pull/7). I do not reproduce with `fisher` install.

I will try to look at this next week

[2019-01-04 08:42] bobmaerten commented on #108
@jgelens I tried that, but I get massive error stack from sourcing this file:

[code]

and still get `test: Missing argument at index 2` on each command after init :/

[2019-01-04 22:36] edouard-lopez commented on #108
@bobmaerten For the moment, you should downgrade to `2.7.1` to get back a working shell as we are not supporting the `3.0.0` yet.

PR #111 provide a docker image to reproduce.

[2019-01-04 23:05] edouard-lopez commented on #108
@bobmaerten Could you try:

    source ~/.config/fish/functions/theme-pure/conf.d/pure.fish

[2019-01-04 23:10] jgelens commented on #108
This is how I fixed it:
[code]

`$HOME/.config/fish/theme_functions/` has all functions from this repo. I used my own path to separate things, but it would work with the installer as well of course.

[2019-01-07 05:31] sholladay commented on #65
Hi @rafaelrinaldi, I found that the original Pure theme does in fact support this. Would you be willing to reconsider? I would like to at least try it out for a bit and see how it feels. A branch would be great, even if you don't want to publish it as part of an official release.

https://github.com/sindresorhus/pure/wiki#single-line-prompt

[2019-01-07 09:49] edouard-lopez commented on #65
I re-open this as it's indeed a feature of the `zsh` version.

### Temporary Solution

You can test this by modifying [fish_prompt.fish#L5](https://github.com/rafaelrinaldi/pure/blob/master/fish_prompt.fish#L5) to not print newline, by adding a `-n` flag:

[code]

### Long-term Solution

1. Add tests for required feature (can happen last if you are un-familiar with TDD) ;
1. Create a flag in `conf

[2019-01-07 18:20] sholladay commented on #65
Yes, I will explore making a PR for this.

[2019-01-08 02:38] rafaelrinaldi commented on #65
@sholladay Thanks for chiming in. I’d be more than happy to review a PR for this.

[2019-01-08 13:36] edouard-lopez opened #113 "Screenshot light version"
Following merge of #103 the screenshot has been updated to reflect colors. However, it is a dark version:

![screenshot](https://user-images.githubusercontent.com/1212392/51090701-3b521a80-1780-11e9-8be0-09ab94886e7a.png)

![screenshot](https://user-images.githubusercontent.com/1212392/51090703-4147fb80-1780-11e9-855a-28dbd457bf0b.png)

We need an updated light version.

@boyeborg Could you provid

[2019-01-08 15:52] edouard-lopez commented on #87
closed by #104, available in [`1.13.0`](https://github.com/rafaelrinaldi/pure/releases/tag/v1.13.0)

[2019-01-08 15:52] #87 closed

[2019-01-08 16:19] edouard-lopez commented on #56
@tkadur adding a feature flag to disable `git` is a good idea as async support is more complex.

The feature can be implemented by:

1. add a new `pure_enable_git` options in [conf.d/pure.fish](https://github.com/rafaelrinaldi/pure/blob/master/conf.d/pure.fish) (default to `true`)
1. updating [_pure_prompt_git.fish](https://github.com/rafaelrinaldi/pure/blob/master/functions/_pure_prompt_git.fish)

[2019-01-08 16:30] schrodincat commented on #56
It'll be quite a while before we add git async (I haven't even started to work on it yet) so it makes perfect sense

[2019-01-08 17:54] andreiborisov opened #115 "Simplified title"
I'd like to open a discussion about possibility of adding customisations or making changes to the title.

From what I can grasp from [original ZSH prompt](https://github.com/sindresorhus/pure/blob/master/pure.zsh), our current title doesn't behave the same.

Currently I'm using simplified version of the title:
[code]

It doesn't print shell name and only prints invoked command when command is runn

[2019-01-08 18:32] edouard-lopez commented on #56
The [acomagu/fish-async-prompt](fish-async-prompt) look quite promising to this feature.

[2019-01-08 19:46] edouard-lopez commented on #115
Feature-wise, I reckon we [differ a bit from the zsh version](https://github.com/sindresorhus/pure#options) over time. However, recent PRs help reduce the gap :clap:

Our current [`fish_title`](https://github.com/rafaelrinaldi/pure/blob/master/fish_title.fish) code isn't satisfactory (IMHO) and furthermore differ from the original one.

### Title
Looking at the original pure, the title is pretty s

[2019-01-08 20:51] schrodincat commented on #115
1. It seems useful to show SSH hostname on remote connections (similarly how we do it on the main prompt). I would add it.
2. Yeah, my version is too simplistic. It's still useful to have directory when executing command.
3. I don't know if original prompt shows shell name, but in my opinion, it's unnecessary. I mean, user probably know, what shell he uses. There also a question whether we should

[2019-01-09 09:48] edouard-lopez commented on #115
1. I'm ok with this, moreover, SSH information should be consistent between the title and prompt.
2. Let user decide with a feature flag `pure_title_show_current_working_dir`
3. Shell name might be useful when working with multiple terminal windows but I prefer not to encourage that. For the moment, I'm in favour to remove it and see if people request it. Displaying the last invoked command is IMH

[2019-01-09 12:09] JunJi-JiaYue opened #116 "iTerm2 shell integration broken."
* fish 3.0.0
* iTerm2 3.2.6
  * with [Shell Integration](https://www.iterm2.com/3.0/documentation-shell-integration.html) ([.iterm2_shell_integration.fish](https://iterm2.com/shell_integration/fish))
* pure 1.13.0 (installed through fisher 3.2.2)

[code]

[code]

my `config.fish`:
[code]

[2019-01-09 14:37] edouard-lopez commented on #116
@schrodincat By misplaced, do you mean it's an installer issue? If so, it needs to be reported to `fisher` while we fix our installer.

[2019-01-09 14:54] schrodincat commented on #116
No, what I mean it doesn't align properly:
<img width="682" alt="screenshot 2019-01-09 at 17 54 02" src="https://user-images.githubusercontent.com/13354491/50907119-a2e23000-1437-11e9-9d40-99d7aae46c73.png">

[2019-01-09 16:33] edouard-lopez opened #117 "Prefix prompt when logged in as root"
This is a [feature on the `zsh` version](https://github.com/sindresorhus/pure/wiki/Customizations,-hacks-and-tweaks#prefix-prompt-when-logged-in-as-root):

[code]

[2019-01-09 16:34] edouard-lopez opened #118 "zsh: Show number of jobs in prompt"
This is a [zsh-version feature](https://github.com/sindresorhus/pure/wiki#show-number-of-jobs-in-prompt)

[2019-01-09 16:45] edouard-lopez opened #119 "Fish-3.0.0 support"
New major release of [Fish `3.0.0` dropped on December 28](https://github.com/fish-shell/fish-shell/releases/tag/3.0.0). Since we had a couple of issues reporting broken prompt under `fish-3.x`.

Work to support this version has already begun, we need setup testing environment for the various version `2.4` to `3.0`. Our focus will first go to `2.7.1`, latest stable from `2.x`, and `3.0.0`.

[2019-01-09 17:32] edouard-lopez opened #120 "Test against fish 3.0.0"
Setup testing environment for `fish` `3.0.0`

[2019-01-09 17:35] edouard-lopez opened #121 "Configure Travis to test against multiple fish versions"
**related:** #122

---

Documentation
* [Build Matrix](https://docs.travis-ci.com/user/customizing-the-build/#build-matrix)
* [Build Stages](https://docs.travis-ci.com/user/build-stages/)
* Example config from [Coaxis-ASP/opt](https://github.com/Coaxis-ASP/opt/blob/master/.travis.yml)

[2019-01-10 11:40] edouard-lopez opened #123 "How many fish version should we support?"
As I'm updating the [_.travis.yml_ config to run our tests against multiple versions](https://github.com/rafaelrinaldi/pure/pull/122), I'm wondering how many `fish` versions should we support?

Currently [TravisCI build](https://travis-ci.org/rafaelrinaldi/pure/builds/477606183):
* :heavy_check_mark: succeed against `2.5.0`, `2.6.0`, `2.7.1`,
* :red_circle:  fail against `2.4.0` and `3.0.0`.

What

[2019-01-10 11:47] jorgebucaran commented on #123
Fish >=2.3 would be nice. 2.3 has conf.d and the `string` builtin—what else do we need? :)

Fisher supports +2.1 right now, but I hope to make it >=2.3 too by next year.

[2019-01-10 12:01] schrodincat commented on #123
I’d say we support only 2.7 and 3. I see no reason to stay on older versions from a user point of view, since there is no backwards incompatible changes between minor updates.

[2019-01-10 12:06] faho commented on #123
I'm always looking at supported Ubuntu releases - https://packages.ubuntu.com/search?suite=all&searchon=names&keywords=fish:

    trusty (14.04LTS): 2.0.0-1
    xenial (16.04LTS): 2.2.0-3
    bionic (18.04LTS): 2.7.1-3
    cosmic (18.10): 2.7.1-3build1

Trusty is only supported for another 3 months, and all of these are supported by [the official PPA](https://launchpad.net/~fish-shell/+archive/ubu

[2019-01-10 12:14] #121 closed

[2019-01-10 12:15] edouard-lopez commented on #120
closed by #122

[2019-01-10 12:15] #120 closed

[2019-01-10 12:37] faho commented on #123
Okay, the tests on 2.4.0 fail for two reasons:

- It didn't have `fish_default_mode_prompt`

- It didn't have `status $subcommand`, so `status something` prints output before it fails

3.0 fails because of $hostname and the fish_title isn't completely correct.

I think the following should work for 2.4.0's status:

[code]

and you'd have to figure something out for the default mode prompt.

[2019-01-10 12:46] edouard-lopez opened #124 "Fix $hostname tests"
**related:** #119, [travisCI](https://travis-ci.org/rafaelrinaldi/pure/jobs/477796435)

---

### Idea

Fish `3.0.0` use read-only `$hostname` variable.

* [ ] skip those tests when running on `3.0.0`
* [ ] write dedicated one for `3.0.0`

### [tests/_pure_prompt_ssh_host.test.fish](https://github.com/rafaelrinaldi/pure/blob/master/tests/_pure_prompt_ssh_host.test.fish)

[code]

### [tests/_pure_pr

[2019-01-10 12:49] edouard-lopez opened #125 "fix fish_title.tests.fish"
**related:** #119, [travisCI](https://travis-ci.org/rafaelrinaldi/pure/jobs/477796435)

---

[code]
[code]
[code]
[code]

[2019-01-10 22:47] #124 closed

[2019-01-10 22:47] #125 closed

[2019-01-11 22:57] #81 closed

[2019-01-12 01:46] edouard-lopez commented on #123
### :heavy_check_mark: `2.5`, `2.6`, `2.7.1` and `3.0.0`
Tests successfully run [against `2.5`, `2.6`, `2.7.1` and `3.0.0` on CI](https://travis-ci.org/rafaelrinaldi/pure) :sunglasses:

### :red_circle:  `2.4`
Supporting `2.4` should be possible, as [only 4 tests fail](https://travis-ci.org/rafaelrinaldi/pure/jobs/478610445):
[code]
However, I [removed it from the CI configuration](https://github.

[2019-01-12 01:55] edouard-lopez commented on #74
@rafaelrinaldi Work on `async` support has stale recently.

I think we should postponed it to future version and release a `2.0.0` as we do have a bunch of new features that have been shipped, the code evolved a lot, is stable stable and tested.
Plus we have `3.0.0` support :)

What do you think?

[2019-01-12 01:56] edouard-lopez commented on #116
@schrodincat I won't be able to help here, I'm on Linux

[2019-01-12 10:43] schrodincat commented on #74
Seems reasonable to me. We are not using semantic versioning though?

[2019-01-12 12:58] edouard-lopez commented on #74
@schrodincat cool
 yes we try to follow semver as much as possible,  but I introduced some breaking changes on the recent version as I rename some variables in conf.d/pure.fish.
While revamping the _README.md_ I realized we have some inconsistencies in the naming of variable. This would be nice to improve that before releasing `2.0.0`

(I will update with commit/pr reference)

[2019-01-12 13:29] edouard-lopez opened #129 "Remove dependency to gawk in Docker image"
**related:** 4dbb2fecb

---

jorgebucaran/fisher#508 has remove the dependency to `gawk` for `fisher`, we should be able to revert 4dbb2fecb in [pure-on-fish.Dockerfile](https://github.com/rafaelrinaldi/pure/blob/master/tools/pure-on-fish.Dockerfile)

PR welcome :)

[2019-01-12 13:50] edouard-lopez commented on #56
As discussed in [#74](https://github.com/rafaelrinaldi/pure/issues/74#issuecomment-453709771) we postponed the integration of this feature after the release of `2.0.0`.

In the meantime, PR are welcome so we can discuss code and move forward :zap:

[2019-01-12 14:30] edouard-lopez opened #130 "Proposal: naming convention to harmonize configuration's variables"
**related:** #74, e5af49f

---

While [revamping the README.md](https://github.com/rafaelrinaldi/pure/pull/127/commits/e5af49f83ba26cd3b0af390696a79c86e70b5483) I realized we have some inconsistencies in the naming of variables. This would be nice to improve that before releasing `2.0.0` as it will be a breaking change.

## Global Globa Variable

##### Example

[code]

## Feature's Variables

####

[2019-01-12 15:44] edouard-lopez commented on #74
I wrote a proposal convention for renaming variable in #130 if you want to chime in.

[2019-01-12 17:07] schrodincat commented on #130
Excellent proposal!
I’m not sure about changing `pure_color_ELEMENT` to `pure_ELEMENT_color` while using `pure_color_MEANING` though.

I think it would be more consistent if we would stick with one approach. Either (which I personally prefer):
`pure_color_ELEMENT`, `pure_symbol_ELEMENT`, `pure_color_MEANING`

or:
`pure_ELEMENT_color`, `pure_ELEMENT_symbol`, `pure_MEANING_color`

[2019-01-12 18:46] edouard-lopez commented on #130
If you stick to your second proposal it's indeed better to have `pure_success_color` instead of `pure_color_success`, for consistency.

Depending on the content of a file, only variables related to one feature vs. mix of feature/global variable, I reckon both conventions have pros/cons. In the former, prepending the feature name will be annoying, on the latter case it could help prevent confusion.

[2019-01-12 19:09] schrodincat commented on #130
Since those are public variables to tweak prompt settings for the end user, I think we should prioritize clarity and simplicity. That’s debatable of course, but I feel like first variation is easier on the eyes.

But again, it’s not like there is a huge difference.

[2019-01-13 00:40] rafaelrinaldi commented on #130
I really like this idea.

I'd like to share that I personally try to avoid shortening of words when naming things ("error" instead of "err", "command" instead of "cmd", etc) but I am open to make an exception if you feel strong about it.

**1. Global Variable**

One idea does not invalidate the other. We can have both.

**2. Feature Flag Variable**

I agree.

**3. Flag, Symbol and Color**

I agree

[2019-01-13 00:57] rafaelrinaldi commented on #115
I have also noticed a few times that the title behavior could use some work; they are not very useful as of now. Happy to review a PR with your proposal @schrodincat!

[2019-01-13 01:07] rafaelrinaldi commented on #74
The roadmap looks good to me 👍  Having Git async support behind a feature flag definitely makes sense.

[2019-01-13 01:12] jorgebucaran commented on #130
Agree with 1 and 2. I am not sure about 5. I actually prefer the current `pure_symbol_git_arrow_down`. My trick: change `_` to a `.` in your mind and think of object hierarchies:

[code]

Above all, agree with this comment by @schrodincat:

A consistent rule is better than no rule, so find out what makes sense to you and stick to it—good luck!

[2019-01-13 01:16] rafaelrinaldi commented on #113
I think we can just have the dark one. It looks great already! No need for the light version.

[2019-01-13 01:18] rafaelrinaldi commented on #117
Nice catch! I will work on this.

[2019-01-13 01:42] schrodincat commented on #130
@rafaelrinaldi
1. I see no reason to have both `pure_color_red` and `pure_color_danger`, since they would have essentially the same values (that is if I understand you correctly).

3. I personally in favor of simplicity and consistency too. But the reason we’ve exposed color for every feature separately is that user asked for more customizations. I wouldn’t worry about visual consistency too much

[2019-01-13 01:51] schrodincat commented on #115
☺️ I’m planing to work on it next week

[2019-01-13 02:53] rafaelrinaldi commented on #130
@schrodincat

[1] I see it as a two-level abstraction, one more high level with the actual colors (full available colors) and the other with their context (danger, success, etc). For instance, red could be used for "danger" and some other state at the same time. But this can become confusing indeed. The reason I prefer keeping the actual colors instead of context-specific is because this is a term

[2019-01-13 18:00] edouard-lopez commented on #113
It's good to know when a theme/prompt works with the colour scheme you prefer.

I work on the light scheme, but with `tmux` my colours seem to be a bit different, also I don't remember the site used to create the image :/

[2019-01-13 18:04] edouard-lopez opened #131 "Notify user there are using an old fish version"
**related:** #123

---

As suggested by [@rafaelrinaldi in #123](https://github.com/rafaelrinaldi/pure/issues/123#issuecomment-453794127)

[2019-01-13 18:05] edouard-lopez commented on #123
Adding a message at session start-up to notify the user he should upgrade would be a nice feature!

Created issue #131 for that purpose.

[2019-01-13 21:09] edouard-lopez commented on #113
Can't get a result similar to what @boyeborg generated. What language did you use?

I use this content:

[code]

[2019-01-14 04:55] gtalarico opened #133 "Command Color Blue"
Hello and thanks for this great theme.
I am really enjoying the latest release with customizable colors!

I am having an issue with the command color setting up the theme on new MacOs
After installing a iterm2, fish, and then adding pure using fisher,
the default command color is showing a a default blue,
as set by the default `fish_variables` file.
(The blue used is not on my shell color preset.)

[2019-01-14 19:20] edouard-lopez commented on #130
I will make a serie of post so we can **upvote/downvote them**

---

@rafaelrinaldi

Current variable naming describe the symbol, not what it mean (unpulled/unpushed commit). Do you think this would work better:

    $pure_symbol_git_unpushed_commits   instead of $pure_symbol_git_arrow_up
    $pure_symbol_git_unpulled_commits

This give us have good readability and let user use `←` and `→` without

[2019-01-14 19:20] edouard-lopez commented on #130
So we stick to `pure_symbol_<feature>`

---

@jorgebucaran

Instead of an object hierarchy I prefer to think in term of features, it's easier to refactor and work with all variable for a feature. Then we got something that

    $pure.git.dirty.symbol
    $pure.git.unpushed_commits.symbol
    $pure.git.unpulled_commits.symbol

But this don't happen a lot and `$pure_symbol_git_unpushed_commits` spar

[2019-01-14 19:20] edouard-lopez commented on #130
#### Global Variable:

Drop `$pure_color_<color>` in favor of `$pure_color_<meaning>` (_i.e._ `$pure_color_danger`).

[2019-01-14 19:21] edouard-lopez commented on #130
#### Feature flag

`$pure_<verb>_<feature>` (_e.g._ `$pure_enable_git_async`).

[2019-01-15 08:09] edouard-lopez commented on #133
Hello @gtalarico,
Thanks for the kind words, always appreciated :)

We don't manipulate `fish_color_` variables, there are from `fish` directly. The solution you find seem reasonnable enough.

Anyway, I would recommend to [declare your issue on `fish` issue tracker](https://github.com/fish-shell/fish-shell/issues/new) and cross-referencing this one (_e.g._ with this code `rafaelrinaldi/pure#133`).

[2019-01-15 08:09] #133 closed

[2019-01-15 13:59] schrodincat commented on #130
There is another argument in favour of using different color variables for git unpulled/unpushed arrows:  splitting would require to change user customisation variables and I'd say we should try not to introduce breaking changes after 2.0.0.

[2019-01-15 14:08] edouard-lopez commented on #130
see PR #134

[2019-01-15 14:09] #130 closed

[2019-01-15 16:40] rafaelrinaldi opened #135 "Project maintainers update"
Welcome @schrodincat to the team 👋
Goodbye @pierrebeaucamp, thanks for all the 🐟

[2019-01-15 16:40] #135 closed

[2019-01-15 16:43] pierrebeaucamp commented on #135
:wave:

[2019-01-15 19:54] rafaelrinaldi commented on #113
Closed by #132

[2019-01-15 19:54] #113 closed

[2019-01-17 00:37] JunJi-JiaYue commented on #116
I have installed it through fisher.

[2019-01-29 23:15] edouard-lopez opened #136 "Pure fish logo"
Would you be interested to have a logo for the project?

Played a bit with the prompt symbol. Color are based on [`ayu-mirage`](https://github.com/weirdpattern/hyper-ayu-mirage) and [`ayu-light`](https://github.com/weirdpattern/hyper-ayu-light) colorscheme.

![logo-small](https://user-images.githubusercontent.com/1212392/51947579-a3ae2680-2425-11e9-8c94-08a60611afd4.png)

Upvote the one you prefer

[2019-01-29 23:18] edouard-lopez commented on #136
![logo-magenta](https://user-images.githubusercontent.com/1212392/51947241-714ff980-2424-11e9-901e-8a65cd8fe6cd.png)

[2019-01-29 23:18] edouard-lopez commented on #136
![logo-red](https://user-images.githubusercontent.com/1212392/51947266-8af14100-2424-11e9-984a-96dc8c25a376.png)

[2019-01-29 23:18] edouard-lopez commented on #136
![logo-yellow](https://user-images.githubusercontent.com/1212392/51947273-93e21280-2424-11e9-8a0b-f58d2daac37c.png)

[2019-01-29 23:19] edouard-lopez commented on #136
![logo-cyan](https://user-images.githubusercontent.com/1212392/51947296-a6f4e280-2424-11e9-971b-8468d194daad.png)

[2019-01-31 02:53] schrodincat commented on #136
Probably, should be with our default color... I also like orange one, though

[2019-02-01 07:59] kumarharsh commented on #29
In an amusing turn of events after again switching to WSL yesterday, I found myself clicking on this issue without reading who posted it. It's still the same issue 😂

So, I don't have an update as such, since the issue is definitely with conhost. But @bitcrazed has stated that it might get fixed in a (as yet unannounced) future build of Windows.

[2019-02-03 10:26] jurf opened #137 "Trouble when $HOME points to a symlink"
Hi,

I currently run [Silverblue](https://silverblue.fedoraproject.org/), where `$HOME` points to `/home/<username>` (as is normal), but that directory is a symlink to `/var/home` (the base image is immutable, so everything that changes lives under `/var`).

Pure however handles this a bit unfortunately:

[code]

Cheers.

[2019-02-03 14:40] edouard-lopez commented on #137
Hi @jurf,
Could you tell us what is the content of `$HOME` and `$PWD` when in your home directory? That will help us add test to support your scenario.

That's probably related to how `_pure_parse_directory` works:
* https://github.com/rafaelrinaldi/pure/blob/master/functions/_pure_parse_directory.fish
* https://github.com/rafaelrinaldi/pure/blob/master/tests/_pure_parse_directory.test.fish

[2019-02-03 18:04] jurf commented on #137
Hey, thanks for the reply. This are the variables in question:

[code]

[2019-02-03 20:45] edouard-lopez commented on #137
Thanks,
the behaviour is the expected one in light to our current code.
I'm in favour to support this as an explicit rule, _i.e._ only symlink to `/var/$HOME` as we can use a simple glob expansion/regex to do it.

Cc @schrodincat @rafaelrinaldi

[2019-02-06 06:49] kumarharsh commented on #29
@bitcrazed I tried to run the fish shell in cmd.exe, and most of the issues in my screenshot above seem to have been resolved, especially the titlebar issue.

Windows console doesn't render the characters for git status, etc. which are used by pure: see here: https://github.com/rafaelrinaldi/pure/blob/master/conf.d/pure.fish#L13-L15. I presume this issue of extending the support for characters is

[2019-02-06 08:11] abeintopalo opened #138 "Overriding base colors from config.fish"
Hi,

Thank you for this great prompt, I love it. 👍
I'm using iTerm2 with solarized dark theme. It seems that `brblack` color is not visible on iTerm2's background. I would like to override `pure_color_gray` so that all dependent variable is overriden as well.
So far this is my `config.fish` file:
[code]

Unfortunately this doesn't work because under the hood `pure.fish` uses `_pure_set_default` wh

[2019-02-06 22:12] codesections opened #139 "vi mode indicator"
Thanks for this project—I just switched from Zsh to Fish, and I'm not sure I would have done so if it meant needing to give up the wonderful `❯`.

However, I also use the vim keybindings in Fish, and I noticed that this project indicates the current mode a bit differently than the Zsh Pure does.  Specifically, our version prints out the full default `[N]` or other letter to indicate the current mo

[2019-02-07 01:02] edouard-lopez commented on #139
Hello @codesections,
Glad we ease the transition to `fish` :v:

---
Disclaimer: I'm not a `vi`-mode user myself.

Having similar behaviour than the [`zsh` version](https://github.com/sindresorhus/pure) is something we aim for as we recently merged several PRs to fill the gap between our version and the one from sindresorhus.

So my recommendation would be to set the behavior you described as the d

[2019-02-07 23:53] bitcrazed commented on #29
Hey @kumarharsh - Glad to see that most of your issues are resolved in recent builds of Console.

The problem with symbols (esp. [emoji, CJK glyphs, etc.](https://github.com/Microsoft/console/issues/190)) not rendering correctly is due to Console still rendering text using GDI which doesn't support [font-fallback](https://docs.microsoft.com/en-us/globalization/input/font-technology#font-fallback).

[2019-02-09 10:40] shyim opened #141 "Notice after activating"
test: Missing argument at index 2
fish, version 3.0.0

[2019-02-11 09:34] edouard-lopez commented on #141
Hello @shyim,

    echo $pure_version

How did you install? Did that still happen?

[2019-02-11 09:41] edouard-lopez commented on #138
Does it happen after terminating all your `fish` session?

Did you try to erase all dependent variables before sourcing _conf.d/pure.fish_?

    set --erase pure_color_git_branch

[2019-02-11 09:57] shyim commented on #141
❯ echo $pure_version
1.13.0

It happend after installation with omf. After restarting the terminal it was working.

[2019-02-11 12:38] abeintopalo commented on #138
Yes it happens after terminating all my `fish` sessions i.e. restarting my iTerm2.

Erasing all dependent variables does the job.
However, I thought it would be nice to have a solution that works without checking `pure.fish` to see what are the dependent variables and erase them one by one before sourcing `conf.d/pure.fish`.

Otherwise any update to `pure` that would introduce new dependent variab

[2019-02-11 16:44] edouard-lopez commented on #138
Explicit erasing or overriding is not ideal, I agree.

But I reckon the config is loaded before you source the `conf.d/pure.fish`otherwise it should not be needed to erase them. If so you could try to erase all `pure_color_*` using a loop.

Sorry I haven't tested this as I'm on my phone

[2019-02-11 16:45] #141 closed

[2019-02-11 17:08] edouard-lopez opened #142 "Fix fishtape install"
[Fishtape 2.0.0](https://github.com/jorgebucaran/fish-tape/releases/tag/2.0.0) is out and might be breaking our test and CI.

We have two solutions:
* quick fix fishtape version in docker file

       fisher add jorgebucaran/fishtape@1.0.0

* upgrade our test to follow [fishtape new syntax](https://github.com/jorgebucaran/fish-tape/releases/tag/2.0.0), plus  fix installed version

       fisher ad

[2019-02-13 11:40] abeintopalo commented on #138
I solved it based on your suggestion:

[code]

Thanks

[2019-02-13 14:44] #138 closed

[2019-02-14 18:02] edouard-lopez commented on #136
Adding a `_` was not conclusive that why I didn't submit the version with it.

[2019-02-18 22:11] #74 closed

[2019-02-18 22:13] edouard-lopez commented on #142
fixed by 6bb164277602a20fe383e1e706dc2f6aff915c23

[2019-02-18 22:13] #142 closed

[2019-02-18 22:17] edouard-lopez commented on #129
without `gwak` output is a bit weird, so keep it.

[code]

[2019-02-18 22:17] #129 closed

[2019-02-19 07:22] manuel-uberti opened #144 "git_pending_commits: command not found"
Hi,

first of all thanks for this awesome prompt. With latest `pure` (installed via `fisher`), I get this when entering a Git-versioned directory:

[code]
Some details on my system:

- Fish 3.0.1
- fisher 3.2.7
- gnome-terminal 3.28.2-1ubuntu1~18.04.1
- Ubuntu 18.04.02

[2019-02-19 10:01] edouard-lopez commented on #144
Thanks for the report, the method is incorrectly named both in code and tests :S.

Fix would be available sohrtly.

[2019-02-19 10:39] gangsthub commented on #29
cc/ @bitcrazed, What font do you recommend (that is free) and can display correctly emojis and is monospaced for a proper use within the console? Thanks in advance!

[2019-02-19 11:12] edouard-lopez commented on #144
PR is pending review. In the meantime, rollback to `1.13.0`

[code]

[2019-02-19 11:24] manuel-uberti commented on #144
Thanks a lot, I rolled back for now.

[2019-02-19 11:38] kumarharsh commented on #29
@gangsthub As of now, Windows console can't display emojis or some other glyphs like those used in powerline using any font. Ligatures, etc are also not supported yet. I've tried with Fira and Operator.

[2019-02-19 11:51] #144 closed

[2019-02-19 11:55] edouard-lopez commented on #144
You can install latest version:

    fisher add rafaelrinaldi/pure

[2019-02-19 11:56] MuneebBaderoen commented on #144
Great turnaround time. Thank you @edouard-lopez 👏

[2019-02-19 12:04] manuel-uberti commented on #144
Fantastic thanks.

[2019-02-19 16:11] #139 closed

[2019-02-19 22:45] bitcrazed commented on #29
@gangsthub You may have some luck with some patched fonts, but ultimately, even patched fonts won't give you broad emoji support, nor ligatures, etc. - these features require a font rendering system based on DirectWrite, not GDI which the Console currently uses.

[2019-03-04 14:35] voider1 opened #149 "Git branch and status not shown"
I installed Prompt via omf and made the symlink, vi-mode works nicely with the prompt, but the Git symbols and branch are not shown. Any ideas how I could fix this?

[2019-03-04 19:53] edouard-lopez commented on #149
Hello @voider1,
Is the link valid? _i.e._ linking to the correct directory?

Could you give us the value for:

    echo $pure_version
    echo $pure_symbol_git_dirty
    _pure_prompt_git_branch  # function to call

To be sure, got information only when you're on a git repository.

Could you create a minimal setup to reproduce your issue using our [docker images](https://github.com/rafaelrinaldi/pu

[2019-03-04 20:34] voider1 commented on #149
Alright, so after some investigation it seems that the text and everything is in fact shown, but it's shown in the same color as the background, I'm using Solarized Dark. So that's why it's not shown. Any way to fix this?

[2019-03-04 20:42] voider1 commented on #149
Update: I fixed it, so apparently the colors my terminal was using and the colors Fish wanted to use didn't align. I resolved this and now everything is shown.

[2019-03-04 20:42] #149 closed

[2019-03-14 11:45] jurf commented on #137
Hm, turns out that the latest Silverblue uses `$HOME=/home/<user>` again.

I do get the directory printed twice, but that is a different issue, I guess.

[2019-03-14 12:37] edouard-lopez commented on #137
I'm closing as `$HOME` behaviour is back to standard.

Feel free to open another issue

[2019-03-14 12:37] #137 closed

[2019-03-18 15:55] pcr910303 opened #151 "Terminal output newline when pasting or resizing terminal"
When I open a terminal emulator window and paste anything in it (agnostic to the terminal emulator, e.g. Terminal.app, iTerm2, Alacritty) or resize it, the path indicator is redrawn in the second line(not on the first), and the prompt is redrawn in the third line(not on the second).

[Here's a gif(23MB)](
https://bashupload.com/ZiONY/out.gif) -> It gets expired after 7 days, so please ping me if i

[2019-03-18 22:25] edouard-lopez commented on #151
Hi @pcr910303,

Could you give us the value for:

    echo $pure_version
    fish --version

Also could you try with [`hyper` terminal](https://github.com/zeit/hyper)?

Ping That's might be a Mac-related issue @rafaelrinaldi @schrodincat

[2019-03-18 23:02] pcr910303 commented on #151
[code]

This problem persisted from at least fish 2.7. (I'm currently using a HEAD version for CJK language issues.)

[2019-03-18 23:03] pcr910303 commented on #151
The problem persists with the Hyper terminal. :-(
<img width="328" alt="무제" src="https://user-images.githubusercontent.com/37990858/54569256-80632900-4a1d-11e9-88ad-e89d425717a1.png">

[2019-03-18 23:23] schrodincat commented on #151
@edouard-lopez it's definitely happening for me too, but I'm not sure this is Mac-related issue

[2019-03-19 10:51] edouard-lopez commented on #151
It's cross-platform `tmux` was interfering in my test.

I reproduce the issue for copy/paste and resize only for the first prompt.

Here is some debug information that might help.

<details>
    <summary>fish -d 3</summary>
<pre>
~ master*
❯ <3> fish: Created job 2 from command 'set -g __fish_last_bind_mode $fish_bind_mode' with pgrp -2
<3> fish: Created job 2 from command 'source /usr/share/fish/

[2019-03-19 11:00] edouard-lopez commented on #151
@faho is this related to binding mode?

[2019-03-19 11:35] schrodincat commented on #151
What is probably happening is that fish reprints prompt on terminal resize, but we are only erasing current line before printing the prompt. As a result the second line of the prompt gets updated, but the first one is not.

Can we even erase previous line of the terminal?

If so, the first thing on my mind would be to test for previous executed command to determine if it was `pure` invocation and

[2019-03-19 12:24] pcr910303 commented on #151
@schrodincat Well, if it’s that case on every window resize that should happen, However that only happens on the first prompt: On second or third prompt, everything works as expected.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-19 13:27] schrodincat commented on #151
Working on it

[2019-03-20 14:06] schrodincat commented on #151
@pcr910303 the issue is fixed in 2.1.2, please update `pure` with your favourite package manager and thanks for reporting!

[2019-03-20 16:12] pcr910303 commented on #151
@schrodincat Great! Can confirm it is fixed :-)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-21 17:02] jgierer12 commented on #151
Not sure if this is the same issue, but pressing <kbd>Ctrl</kbd> + <kbd>C</kbd> while there is already some text written in the current command line still causes the wrong redraw with `pure v2.1.2`:

![](https://thumbs.gfycat.com/FakeInbornIguanodon-size_restricted.gif)

[2019-03-21 21:04] schrodincat commented on #151
@jgierer12 it's different issue. Can you elaborate a bit more, what OS, Terminal emulator and `fish` version are you using?

[2019-03-21 21:15] jgierer12 commented on #151
OS: Manjaro Linux x86_64 (Kernel: 5.0.1-1-MANJARO)
Terminal: GNOME Terminal (can also be observed in VSCode integrated terminal)
fish: version 3.0.2

[2019-03-21 21:41] johnfraney commented on #151
@schrodincat I can confirm this on Arch with Terminix, VS Code's integrated terminal, Gnome Terminal, and Guake running fish 3.0.2. It's happened with this theme as long as I can remember.

[2019-03-21 22:53] kopischke opened #153 "Prompt element colours will not use customised colours"
Because the colours of the prompt elements like the success and error prompt symbols (`pure_color_prompt_on_symbols` and `pure_color_prompt_on_error`) are assigned and exported in a  `conf.d` snippet, which is sourced before the user configuration file (`config.fish`), overriding colour variables (`pure_color_X`) in `config.fish` per the README will not actually affect the colours of elements assi

[2019-03-22 12:42] edouard-lopez commented on #153
You will need to erase the variable before overriding them as discussed in #138

    set --erase pure_color_success
    set --global pure_color_success (set_color green)

[2019-03-22 14:46] schrodincat commented on #153
@edouard-lopez apart from the fact that we need to elaborate this in README, as anything we can do to simplify this?

[2019-03-22 14:47] schrodincat commented on #151
@edouard-lopez do you have same issues on your Linux setup? It seems to be Linux specific, as I'm not experiencing this on macOS.

[2019-03-22 15:07] schrodincat commented on #153
For example, we can store feature variables as text:
[code]
and evaluate their values on invocation:
[code]

[2019-03-22 16:20] jorgebucaran commented on #153
Don't tell people to use `pure_color_success`, `pure_color_mute`, etc. Use them internally to set the actual variables and tell people to use `pure_color_prompt_on_success`, etc.

[code]

[2019-03-22 16:51] schrodincat commented on #153
I would like to salvage ability to set base colors for users though, seems useful to me

[2019-03-22 17:21] jorgebucaran commented on #153
@schrodincat Then something like this.

[code]

[2019-03-22 18:29] schrodincat commented on #153
@jorgebucaran although it implicitly assumes that `$pure_color_prompt_on_success` should inherit from `$pure_color_success` (which is not always the case, for example, when a user sets base `$pure_color_success` color _and_ tweaks specific feature`$pure_color_prompt_on_success` color), this seems like a nice middle ground.

For now, though I've tried to fix this making base color variables univers

[2019-03-23 12:38] kopischke commented on #153
@schrodincat I very much appreciate you trying to tackle the issue, but I am not sure how making colour variables universal will achieve this? As you stated quite correctly

to my best understanding, this means that after the changes

1. `conf.d/pure.fish` will still unconditionally set the colour defaults, as neither it nor `_pure_set_default.fish` check if the variable is set, and fish’s `set` c

[2019-03-23 14:15] schrodincat commented on #153
@kopischke

`_pure_set_default` always checked for the existence of a variable before setting it, that's basically the reason it exists.

Universal variables are meant to be set mainly by hand in a terminal, it's kind of a replacement for `config.fish` in that sense: instead of setting a variable on every shell load in `config.fish` similar to what you'd do in `bash`, you only set the variable onc

[2019-03-23 18:40] kopischke commented on #153
@schrodincat

So it does, you are right and I was wrong; apologies for a hasty misreading.

You are missing one essential behaviour of universal variables, the one making them far more than a way to set variables persistently without touching `config.fish`: _they immediately affect all running fish sessions_ (that is where the “universal” comes from) – no need to restart the session. As the fish d

[2019-03-27 09:37] schrodincat commented on #153
@kopischke I think I misunderstood jorgebucaran solution the first time. I’ll be able to solve this issue without enforcing universal scope on to variables, like you want me too, in more idiomatic way. PR is coming, however, it won’t be available till the end of the next week.

[2019-03-27 10:13] kopischke commented on #153
@schrodincat very cool! Thanks for that, and no rush.

[2019-03-27 12:28] jurf opened #155 "Double home folder when opening terminal"
When I open [Tilix](https://gnunn1.github.io/tilix-web/) (I have it configured to run `/usr/bin/fish` as a custom command), I get this:
[code]

However, that doesn’t happen if there’s already a Tilix window open or I’m opening a new tab, the it works correctly:
[code]

Any idea what might be wrong? Or is this a Tilix issue?

Cheers.

[2019-03-28 08:27] edouard-lopez opened #156 "Improved color override code"
Based on #154

I think we can declare variables as global by default when declaring them with _pure_set_default as that mostly what we do. Then we can pass the scope as an optional/last argument so be specific only when needed, i.e. a few cases.

[2019-03-28 09:30] edouard-lopez commented on #151
Initial issue is solved. However, I can reproduce @jgierer12's one, I'm creating a new issue.

[2019-03-28 09:30] #151 closed

[2019-03-28 09:40] edouard-lopez opened #157 "Hitting Ctrl+C when prompt command has text display double home folder"
**related:** #151, #155

---

### Env

I reproduce

**pure**

    ❯ echo $pure_version
    2.1.2

**fish**

    ❯ echo $FISH_VERSION
    3.0.2

**Terminal**

    ❯ hyper version
    2.1.2

**OS**

[code]

[2019-03-28 09:41] jurf commented on #155
Looks like it’s fixed, cheers!

[2019-03-28 09:41] edouard-lopez commented on #156
#154 was closed and not merged, my bad.

[2019-03-28 09:41] #156 closed

[2019-03-28 10:17] edouard-lopez commented on #157
This sound like fish-shell/fish-shell#3537, which is still open on `fish` repo.

[2019-04-01 14:14] heydonovan opened #158 "Unable to install"
Hello all! Just wanted to try it out, never used it before:

[code]

[2019-04-01 15:00] edouard-lopez commented on #158
@heydonovan, it look like you got an error with the `mkdir` command as you got the following message

Then `tar` fail to switch to the directory:

Can you provide output for the following commands:

    fish --version
    lsb_release -a
    cat /etc/os-release

[2019-04-01 15:17] edouard-lopez commented on #158
I reckon it's this line that causes the trouble:

https://github.com/rafaelrinaldi/pure/blob/3424099689588615ec80d541e3f742a0f359f3fa/tools/installer.fish#L28

Could you try to run

    set PURE_INSTALL_DIR /tmp/pure.debug
    mkdir --parents $PURE_INSTALL_DIR

If it fail, please provide the output of

   mkdir --help

[2019-04-01 17:25] heydonovan commented on #158
I'm on Mojave 10.14.3, doesn't look like `mkdir` has the `--parents` option:

[code]

Quick on the pull request, was going to try and get to it tonight. Applied the PR, works fine!

[code]

The checkmark output is a bit messed up, might be due to curl? Not sure if that's a huge deal.

[2019-04-01 17:33] heydonovan opened #161 "Git branch not showing output"
![Screen Shot 2019-04-01 at 12 31 38 PM](https://user-images.githubusercontent.com/918946/55347328-2b420100-547a-11e9-83f5-85a461567026.png)

I'm not sure if the feature needs to be turned on, but the README make it sound like such an option would be turned on in the `pure.fish` file:

[code]

[code]

[2019-04-01 17:43] edouard-lopez commented on #158
@heydonovan cool
@schrodincat could you please review/merge #159 in order to fix this issue

[2019-04-01 18:13] schrodincat commented on #161
What installation method did you used?

[2019-04-01 18:17] #158 closed

[2019-04-01 19:26] schrodincat commented on #161
@heydonovan I can confirm that manual installation method is broken.

While we are on it, you can install `pure` with [`fisher`](https://github.com/jorgebucaran/fisher), it's very lightweight package manager for `fish`.

[2019-04-01 22:11] edouard-lopez commented on #161
@schrodincat is it still broken after merging #159 ?

[2019-04-02 08:29] edouard-lopez opened #162 "Update pure description on OMF docs/Themes.md"
`Oh-My-Fish` keep a list of package it provide. We should keep the information up-to-date

[2019-04-02 18:34] #161 closed

[2019-04-03 10:01] sanyer commented on #116
@edouard-lopez was this fixed? I still see that error message.

[2019-04-03 11:21] edouard-lopez commented on #116
My bad, thought that @JunJi-JiaYue  last message meant it was fixed

[2019-04-03 11:58] edouard-lopez commented on #116
@JunJi-JiaYue @sanyer could you clarify your bug behavior?

### 'fish_mode_prompt' does not exist
If the issue is `functions: Function 'fish_mode_prompt' does not exist` then create a file with this name in your home directory:

    echo '' > $HOME/.config/fish/functions/fish_mode_prompt.fish

### Auto-loading function
If you want to leverage [auto-loading mechanism](https://fishshell.com/docs/cur

[2019-04-04 07:33] sanyer commented on #116
@edouard-lopez well, removing the file `fish_mode_prompt.fish` actually helps

[2019-04-06 08:21] JunJi-JiaYue commented on #116
Sorry for my late reply.
Defining empty `fish_mode_prompt` function in my `config.fish` helps.

[2019-04-09 11:43] sanyer commented on #116
Seems more like a workaround. Maybe at least write about this in README.md?

[2019-04-10 11:39] edouard-lopez commented on #116
From what you described, it's a fish-related configuration issue.
I'm in favour to keep the readme concise, as we have issue tracker for this kind of corner case.
Probably a good idea will be to submit a PR to update fish documentation.

[2019-04-10 15:15] schrodincat commented on #116
@sanyer that’s not `fish` issue, but rather iTerm integration script issue. I’ll tackle this in future releases, for now, please use proposed workaround.

@edouard-lopez what is the purpose of `fish_mode_prompt` function for us anyway? Do we need empty `fish_mode_prompt.fish` without function definition? Is this even correct to leave empty file without actual function definition? Maybe we should a

[2019-04-11 06:32] edouard-lopez commented on #116
@schrodincat we don't use `fish_mode_prompt` that's why I said it's not a _pure_ issue (as one originating from our code).
We could add an empty function as it's a low cost addition

[2019-04-11 14:28] sanyer commented on #116
yeah, so other themes I used had `fish_mode_prompt.fish` with empty `fish_mode_prompt` function

[2019-04-11 15:35] edouard-lopez opened #165 "Add test of fish_*.fish files"
When commenting on #164, I noticed we lack tests on `fish_*.fish` files:
* [x] fish_greeting.fish
* [x] fish_mode_prompt.fish (see #164)
* [x] fish_prompt.fish
* [x] fish_right_prompt.fish
* [x] fish_title.fish (see #115)

[2019-04-11 18:54] #116 closed

[2019-04-12 09:33] sanyer commented on #116
cool, thanks @schrodincat and @edouard-lopez 👍

[2019-04-19 12:11] w3ntao opened #166 "The path part doesn't show"
## Env

**Pure**

    echo $pure_version
2.1.5

**Fish**

    fish --version
fish, version 3.0.2

**OS/distribution**

    lsb_release -a
Distributor ID: Debian
Description:    Debian GNU/Linux 9.8 (stretch)
Release:        9.8
Codename:       stretch

The path part doesn't show:

![Screenshot from 2019-04-19 14-02-02](https://user-images.githubusercontent.com/6308795/56423553-e9ec8680-62ac-11e9-8

[2019-04-19 14:39] edouard-lopez commented on #166
Could you try select the line on top of the prompt to see if it's empty?

Also a different theme might work better. If so, you can adjust color by overriding 	`conf.d/pure.fish` variables in your `~/.config/fish/config.fish`

[2019-04-19 14:55] wentaocn commented on #166
Hi @edouard-lopez , I tried copy the path line to some editor and got nothing, changed a few theme and still seeing nothing. Looks like it's indeed empty.

[2019-04-20 14:28] wentaocn commented on #166
It's working now.
I can't reproduce this bug any more...

[2019-04-25 15:27] #165 closed

[2019-05-10 05:04] ntwb opened #170 "`~/.config/fish/conf.d` directory install issue"
## Env

**Pure**

    echo $pure_version - 2.1.5

**Fish**

    fish --version - 3.0.2

**OS/distribution**

    lsb_release -a - fish: Unknown command lsb_release

    macOS Mojave

The change https://github.com/rafaelrinaldi/pure/commit/6b32805a355a0692a9a0b4495873a04043717e99#diff-11542d6bb9f3baecffc1be92684045bbR57 in the install procedure:

The above line caused an issue during install becaus

[2019-05-10 08:36] edouard-lopez commented on #170
@ntwb Thanks for taking the time to give us feedback, and finding a solution :heart:

You are absolutely right, I'm currently mocking those directories in #169.

@rafaelrinaldi @schrodincat
Maintaining the manual installer is more and more painful, I'm thinking about deprecating it in favour of `fisher` which work nicely.

What do you think?

[2019-05-10 08:46] ntwb commented on #170
If that'll help avoid symlinking the files in the root fish config folder, I'm +1

[2019-05-10 09:06] edouard-lopez commented on #170
see #171

[2019-05-11 12:48] Plastix commented on #170
I am trying to install this plugin using Fundle (https://github.com/danhper/fundle). Is this related to why I cannot get the prompt working under Fundle?

[2019-05-12 20:24] edouard-lopez commented on #170
@Plastix I [disable `fundle` test](https://github.com/rafaelrinaldi/pure/blob/8c274175099c82e5a6a8d563ba8b9e887eef1104/tests/installation-methods.test.fish#L70-L82) cause they were broken and wasn't able to fix it.

Create a dedicated issue with some information in order to help us debug.

[2019-05-18 09:44] wentaocn commented on #166
Having exact the same problem again (with Debian/buster).
[code]

[2019-05-19 22:17] edouard-lopez commented on #166
Could you try to call directly the function `_pure_prompt_first_line`, the one responsible to print this line:

    source $__fish_config_dir/functions/_pure_prompt_first_line.fish
    echo output: (_pure_prompt_first_line)

[2019-05-23 15:14] nesl247 opened #172 "Prompt does not work in fundle"
## Env

**Pure**: 2.1.5

**Fish**: 3.0.2

**OS/distribution**: macOS 10.14

The prompt used to work in 1.0, but with 2.0, it does not change the prompt. I know that it loads because the functions are available, but there are likely some files that are in the wrong directory.

[2019-05-23 15:16] nesl247 commented on #172
And confirmed. Move all of the `*.fish` files in `/` to `functions/` and it works. This is actually the same exact thing when I reported this in 1.0 #76.

[2019-05-23 15:17] nesl247 commented on #170
See #172 for fundle.

[2019-05-23 19:59] edouard-lopez commented on #172
Thanks @nesl247, `fundle` install tests kept failing, I wasn't able to fix them in a reasonable time. So we can't guarantee `fundle` support.

Does it work with [`fisher` or manual install](https://github.com/rafaelrinaldi/pure/blob/master/README.md#manually)?

[2019-05-23 20:02] nesl247 commented on #172
It works after I moved all the files to `functions/`. Having them in the root of the repo is the problem. It does not follow fish-shell's own autoloading system. Fundle does follow it though.

[2019-05-23 20:51] edouard-lopez commented on #172
I guess you meant _moving all the `./fish_.fish` to `./functions/` as we already have all `pure_*.fish` file under `./functions/`.

Would you be interested to submit a PR?

[2019-05-23 21:53] nesl247 commented on #172
Correct as mentioned [here](https://github.com/rafaelrinaldi/pure/issues/172#issuecomment-495262834). I don't mind submitting a PR, but I can't test that it works for all the different systems.

[2019-05-24 00:58] edouard-lopez commented on #172
That's why we have CI :)

We use [`fishtape`](https://github.com/fisherman/fishtape) to write our tests. Guve it a try and let me know if you need help.

[2019-05-28 09:42] limakzi commented on #65
May I support you with this ticket, @sholladay, @rafaelrinaldi?

[2019-05-28 14:54] sholladay commented on #65
I still intend to submit a PR for this when time allows. It's kind of low on my list, though, so if you're on the fence about working on it, don't wait for me. :)

That said, if someone were able to tackle step `1` and make a failing test case, I could certainly get to it sooner.

[2019-06-05 00:56] neon64 opened #175 "Remove `fish_greeting.fish` from this prompt"
Installing this prompt overrides my own `fish_greeting.fish` file. While I understand its nice to get rid of the default fish greeting, shouldn't that be the responsibility of the user or a separate plugin, and not the responsibility of a prompt?

In other words, I feel it should be possible to mix and match prompts and greetings, rather than one controlling the other.

On another note: thanks ver

[2019-06-05 09:42] edouard-lopez commented on #175
Hello @neon64,
thanks for the feedback.

Was you `fish_greeting.fish` located in `$HOME/.config/fish/functions/fish_greeting.fish`? That's where installer place our `fish_greeting.fish` file, its the recommended way to leverage [autoload mechanism](https://fishshell.com/docs/current/tutorial.html#tut_autoload).

### Solution

You can either remove `$HOME/.config/fish/functions/fish_greeting.fish`

[2019-07-03 20:24] fundon opened #179 "Print warns when clone an empty repo"
1. Create an repo on GitHub
2. Clone the repo

[code]

3. exec any commands, print above always

## Env

**Pure**

    echo $pure_version
    2.1.5

**Fish**

    fish --version
    fish, version 3.0.2

**OS/distribution**

    lsb_release -a
    macOS 10.15 19A501i

[2019-07-04 09:32] edouard-lopez commented on #179
Thanks @fundon,

I reproduce with when cloning:

	git clone git@github.com:edouard-lopez/empty-repo.git

Come from https://github.com/rafaelrinaldi/pure/blob/c506bd00eb93a740cfa96e280b5102939dbd211a/functions/_pure_prompt_git_pending_commits.fish#L7

We add a file to our fake repo in our test setup, https://github.com/rafaelrinaldi/pure/blob/c506bd00eb93a740cfa96e280b5102939dbd211a/tests/_pure_pro

[2019-07-04 14:02] fundon commented on #179
Ok, i create a PR

[2019-07-05 08:19] #179 closed

[2019-07-10 19:22] BrunoRoque06 opened #181 "Fish's Native Vi Mode Does Not Display"
**Pure**
2.1.7

**Fish**
3.0.2

**OS/distribution**
MacOS/Arch Linux

**Description**

The following parameter does not work as expected:

[code]

as the prompt does not display `fish_default_mode_prompt`.

**Possible Solution**

I believe replacing this (in `_pure_prompt_vimode.fish:2`):

[code]

by something like this:

[code]

should fix it.

[2019-07-11 08:22] edouard-lopez commented on #181
Thanks I created a pull request based on your feedback #183

[2019-07-11 08:26] #181 closed

[2019-07-16 15:44] limakzi opened #184 "Installation instructions at releases are wrong"
## Envrafaelrinaldi/pure

Installation instruction at `releases` page is wrong.
https://github.com/rafaelrinaldi/pure/releases

It is:
[code]

It should be:
[code]

**Pure**

Not relevant.

**Fish**

 Not relevant.

**OS/distribution**

Not relevant.

[2019-07-17 07:45] edouard-lopez commented on #184
@limakzi thanks, that's fixed

[2019-07-17 07:45] #184 closed

[2019-07-24 15:33] imbsky commented on #123
It seems like Pure already supports fish 3. Isn't it supported yet?

[2019-07-25 07:27] edouard-lopez commented on #123
@imbsky we do support fish `3.0.0`. I define [_supported_](https://github.com/rafaelrinaldi/pure/blob/master/.travis.yml#L33-L38) as _test passing against said version_

[2019-07-25 22:39] imbsky commented on #123
@edouard-lopez I thought so... [This warning](https://github.com/rafaelrinaldi/pure/blob/master/README.md#install) made me very confused. So I just made a PR.

[2019-08-14 09:32] Sohex opened #186 "Right prompt doesn't handle command substitution"
## Env

**Pure**

    echo $pure_version
    2.1.8

**Fish**

    fish --version
    fish, version 3.0.2

**OS/distribution**

    lsb_release -a
    OS X Mojave 10.14.5

## Issue
When setting the right prompt with `pure_right_prompt` the value is only set once when config.fish is sourced, preventing prompts dependent upon command substitution from updating. In this case I want to set my right pro

[2019-08-20 07:23] edouard-lopez commented on #186
Hello @Sohex, thanks for the feedback.
Could you try with another command than `__kube_prompt` to see if there is some cache happening.
I will try to look into this before the weekend.

[2019-08-20 09:23] filipebarros commented on #186
The right prompt will only run on the first execution (it doesn't run every time you execute a command). If there's a way to work around it, I'd be happy to help or implement it (I added it so, I think it's my fault 😅 )

[2019-08-20 20:23] edouard-lopez commented on #186
@sohex @filipebarros
`fish-kude-prompt` does have a [caching mechanism](https://github.com/aluxian/fish-kube-prompt#speed) for speed reason, but…

`fish_right_prompt` is correctly executed on every new display, as demonstrated by updating `fish_right_prompt.fish` to:

	function fish_right_prompt
	    set foo (date '+%N')
	    printf "%s" $foo
	end

Our problem comes from `$pure_right_prompt` not b

[2019-08-20 21:57] edouard-lopez commented on #186
see #187

[2019-09-02 17:31] akkk33 opened #188 "[Feature Request] show exit code on error"
Thanks very much for this beautiful work.
I just want to propose a small change, Instead of showing only red `❯` , Just add a number which refers to exit code from previous command on error only.
So it would be like `1❯`.

[2019-09-26 07:41] ozelotjp commented on #166
maybe: it will be solved by installing git

<details>
<summary>How to reproduce problem</summary>

[code]

</details>

[2019-10-15 13:53] DrPhil commented on #166
I can recreate this problem by having `_pure_prompt_first_line` be longer than what fits in my terminal without wrapping. You can test by creating a git branch with a very long name like I do in this picture. If I then resize my terminal the prompt will show.

![image](https://user-images.githubusercontent.com/184889/66837296-0ec36d00-ef63-11e9-9074-02e58f52749f.png)

Maybe `_pure_print_prompt` sh

[2019-11-03 15:46] schrodincat commented on #186
Fixed in 2.2.0

[2019-11-03 15:46] #186 closed

[2019-11-03 15:47] broizter commented on #172
Any news on this? Looks like the pull request is ready to go.

[2019-11-07 22:21] edouard-lopez commented on #188
Hello @akkk33,
You could achieve this by editing [fish_prompt.fish](https://github.com/rafaelrinaldi/pure/blob/47ebc495f5c73be556c041d1f6afc0648c26e9d9/fish_prompt.fish#L7)† and use our `$exit_code` variable:

[code]

†: `$HOME/.config/fish/functions/fish_prompt.fish.fish`

[2019-11-07 22:43] akkk33 commented on #188
Problem solved, thanks.

[2019-11-07 22:43] #188 closed

[2019-11-22 10:59] #118 closed

[2019-12-03 11:25] salkow opened #196 "Option to add last command's error code in pure_right_prompt?"

[2019-12-03 17:08] #196 closed

[2019-12-14 14:13] andreiborisov opened #198 "More robust shortening algorithm"
Related to https://github.com/rafaelrinaldi/pure/issues/166 I open the discussion on how we should prioritize the prompt components in the shortening function.

Right now we only truncate the path part of the prompt using built-in fish `prompt_pwd` function.

At the very least, we need to truncate Git branch name if it's too long to fix https://github.com/rafaelrinaldi/pure/issues/166. However, I'

[2019-12-14 14:14] schrodincat commented on #166
We take into consideration ANSI colors already (see https://github.com/rafaelrinaldi/pure/blob/master/functions/_pure_string_width.fish), however, there is no way to tell the printed length beforehand exactly.

I've opened another issue to discuss this: https://github.com/rafaelrinaldi/pure/issues/198.

[2019-12-16 00:30] #153 closed

[2019-12-17 11:52] filipebarros opened #200 "No colors after upgrade to 2.4.2"
After upgrading the package to 2.4.2 (using fisher) and restarting the terminal, all colors in the theme are gone. Terminal colors still work though.

<img width="553" alt="image" src="https://user-images.githubusercontent.com/748089/70993194-62694880-20c3-11ea-821c-f0bc3363a097.png">

## Env

**Pure**

    2.4.2

**Fish**

    3.0.2

**OS/distribution**

    macOS

[2019-12-17 11:56] filipebarros commented on #200
locked version to 2.4.1 using fisher and then upgraded again and all seems fine 🤔

Closing

[2019-12-21 03:56] alexmspina commented on #200
I am also experiencing this issue when installing with fisher during a Dockerfile build.

# fish_variables

<img width="605" alt="image" src="https://user-images.githubusercontent.com/29784275/71302639-b8681580-237b-11ea-804a-01626e761946.png">

# Env

**Pure**
`2.4.2`

**Fish**
`3.0.2`

**OS/distribution**
`golang:alpine3.10`

**Dockerfile**
[code]

[2019-12-23 12:27] schrodincat commented on #200
It seems the issues is `set_color` returns nothing for base terminal colors due to being non-interactive. I’ll add a workaround for this in the next release.

@filipebarros, @alexmspina thanks for reporting!☺️

[2019-12-23 16:36] #200 closed

[2020-01-02 15:16] AmericanY opened #203 "fish title inquiry"
any running command is usually shown on the title bar which is very annoying for me

could you please confirm which file i should make my changes ?.

`~/.config/fish/functions/fish_title.fish`

Or

`~/.config/fish/functions/theme-pure/fish_title.fish`

I just want to show my hostname instead.

[2020-01-02 17:32] #203 closed

[2020-01-16 20:33] schrodincat commented on #172
Fixed in `2.5.1`

[2020-01-16 20:34] #172 closed

[2020-01-16 21:00] #170 closed

[2020-02-02 02:24] cole-h opened #206 "Transient prompt"
Is there any interest in implementing a transient prompt similar to [that of Powerlevel10k](https://github.com/romkatv/powerlevel10k/#transient-prompt)?

I haven't looked at any of its code, so I don't know if it would actually be possible or easy to implement in `fish`, but it would save a little bit of space and look nice, IMO.

[2020-02-12 09:52] stefanfrede opened #208 "Unreadable color"
## Env

**Pure**

2.5.2

**Fish**

3.0.2

**OS/distribution**

macOS 10.15.3

I try to figure out which color setting is responsible for the following color:
<img src="https://i.postimg.cc/KzTdcbYm/Screenshot-2020-02-12-at-10-29-05.png" alt="">
(the color of `vim` in the image).

It is not very readable and I'm a bit lost where to change it.

Thanks!

[2020-02-12 12:41] schrodincat commented on #208
@stefanfrede that color isn't controlled by prompt. You can tweak fish colors in the web interface by typing
[code]
This particular color is saved in `fish_color_command` variable, check out [fish docs](https://fishshell.com/docs/current/index.html#variables-color) for more info.

[2020-02-12 12:41] #208 closed

[2020-03-14 14:40] cristianovitorino opened #210 "[Question] How can I change the commands/keywords/characters colors?"
Hello! Thanks so much for your awesome work on this theme, loving it so far! I have one question:

How can I change the commands/keywords/characters colors? I've messed around and ended up with a nice customization of colors, symbols, etc, but I couldn't figure out how to change the commands/keywords/characters like the in the first screenshot from this project page.

**What I have**
Example: the

[2020-03-15 10:40] cristianovitorino commented on #210
I've found the solution. Just `fish_config colors` on a terminal and customize away : D

[2020-03-15 10:40] #210 closed

[2020-03-15 13:28] schrodincat commented on #210
@cristianovitorino how did you get a fish in the prompt on the screenshot?😀

[2020-03-15 13:54] cristianovitorino commented on #210
[Font Awesome!](https://fontawesome.com/icons/fish?style=solid) :smile:

[2020-03-25 12:40] FraserEmbrey opened #212 "Using reverse prompt with vi mode doesn't work as expected"
The prompt will remain the same unless I run something like autocomplete.

This makes the reverse prompt kind of pointless for me as it doesn't actually tell me what mode I am in, only what mode I was in when I last refreshed the prompt. I assume that the prompt should refresh itself when I change mode.

## Env

**Pure**

   2.5.2

**Fish**

    fish, version 3.1.0

**Terminal Emulator**

  iTerm2

[2020-03-31 05:41] NovaDev94 commented on #56
Anyone checking this issue in 2020. There's a simple solution currently using https://github.com/acomagu/fish-async-prompt

[code]

and put this in your `config.fish` (or anywhere you want)
[code]

[2020-03-31 06:38] NovaDev94 commented on #212
@FraserEmbrey Can you try running these 2 commands?

[code]

They should show
[code]

[2020-03-31 07:09] FraserEmbrey commented on #212
Yes, this was my output when running them:

[code]

[2020-03-31 16:39] gpanders commented on #56
We can add `fish-async-prompt` as a dependency using a [`fishfile`](https://github.com/jorgebucaran/fisher#what-is-a-package).

[2020-03-31 18:13] schrodincat commented on #56
@NovaDev94 @gpanders thanks for the link! I’m going to look into this project and try to reimplement it manually for Git part of `pure`, since we need to support Oh My Fish!, manual install methods and cannot use dependencies via `fishfile`.

[2020-03-31 18:16] gpanders commented on #56
Of course, I should have thought of that. I got caught up in my own use case.

[2020-04-15 12:14] otaviomad opened #216 "Weird behavior with git in VS Code"
## Env

**Pure**

    2.5.2

**Fish**

    fish, version 3.1.0

**OS/distribution**

    Distributor ID:	Ubuntu
Description:	Ubuntu Focal Fossa (development branch)
Release:	20.04
Codename:	focal

Fish works fine on the terminal but when I open a project in the VS Code terminal I get the following:
`Failed to execute process '/usr/bin/git'. Reason:
The total size of the argument and environment li

[2020-04-22 21:50] Arelav opened #218 "Add support to Stash indicator (zsh feature)"
Can be git stash symbol `≡` supported like in ZSH version?
Please.

[2020-05-02 00:28] hisnawi opened #219 "Colors not correct on iTerm2"
I noticed that colors in iTerm2 not same as in MacOS terminal.
Right off the bat, GIT version information (pure_color_mute) is totally black and so doesn't show up at all on a dark background.
Also other colors for example in terminal:
![image](https://user-images.githubusercontent.com/8878871/80850530-1ed62d80-8bd1-11ea-98cf-022e3294069d.png)

But in iTerm2:
![image](https://user-images.githubuse

[2020-05-02 00:41] #219 closed

[2020-05-02 04:02] hisnawi opened #220 "I ended up with blue text, why not white as expected?"
After installing the pure theme I got the text in blue:
![image](https://user-images.githubusercontent.com/8878871/80854685-06750b80-8bef-11ea-9bd9-89e0ac190134.png)

How do I go back to having normal text be white? In the example above the "ls".

This is what I see:
![image](https://user-images.githubusercontent.com/8878871/80854969-64a2ee00-8bf1-11ea-8e71-45e95f70a711.png)

And this is how the a

[2020-05-03 10:29] schrodincat commented on #220
@hisnawi syntax highlighting controlled by special fish variables. Run `fish_config` to choose one of the predefined themes. When it comes to the white color, in particular, I think it was the default value before fish 3.0.

[2020-05-03 10:51] schrodincat commented on #220
@hisnawi here are fish defaults prior to fish 3.0:

[code]

[2020-05-03 10:51] #220 closed

[2020-05-03 14:36] hisnawi commented on #220
Thanks. Now it make sense.

[2020-05-04 00:53] hisnawi opened #221 "Vi mode reverse symbol not working with hybrid mode"
I am utilizing the code from this page, to use hybrid mode behavior between emacs and vi:

#https://fishshell.com/docs/current/#syntax-highlighting

[code]

However, the prompt symbol stopped reversing on Vi normal mode.
Is there a way to fix this?

[2020-05-09 10:00] eoli3n commented on #117
Any update on this ?

[2020-05-11 10:36] eoli3n commented on #117
Workaround with a fish script ``~/.config/fish/conf.d/pure-symbol.fish``
[code]

[2020-05-14 07:26] edouard-lopez commented on #136
I'm closing as idle for more than a year now.
Feel free to reopen

[2020-05-14 07:26] #136 closed

[2020-05-14 07:40] edouard-lopez commented on #218
Nice catch! :clap:

You can follow what we did with `pure_symbol_git_dirty`:

1. write some [fixtures](https://github.com/rafaelrinaldi/pure/blob/master/tests/fixtures/) and tests [./tests/_pure_prompt_git_dirty.fish.test.fish](https://github.com/rafaelrinaldi/pure/blob/master/tests/_pure_prompt_git_dirty.fish.test.fish)
1. add a config variable `pure_symbol_git_dirty` in [conf.d/pure.fish](https:

[2020-05-14 14:31] Arelav commented on #218
Great news. Thank you!

[2020-05-14 16:27] Arelav commented on #218
Please see my attempt. However, it's not ready and my experience is not enough to finish without help.
https://github.com/rafaelrinaldi/pure/pull/222

[2020-06-18 18:54] IlanCosman commented on #65
Hi, just wanted to mention that [Tide](https://github.com/IlanCosman/tide) can do this. Just run Tide's configuration wizard and select the [Pure style](https://github.com/IlanCosman/tide#pure-compatibility).

Other advantages of Tide:

- Significantly more configurable
- Much faster (~4x) outside of git repos
- Multi-line right prompt
- Extensible

[2020-06-29 17:19] caarlos0 opened #223 "issues with cmd+k and ctrl+c"
## Env

**Pure**

    echo $pure_version
    2.5.2

**Fish**

    fish --version
    fish, version 3.1.2

**OS/distribution**

    lsb_release -a
    macOS 10.15.5

---

- when I press ctrl+c while typing a command, the next new line is not shown
- ctrl+l works fine, but cmd+k eats the first line of the prompt

I recorded a gif to show how it looks like:
https://img.carlosbecker.dev/Screen%20Recor

[2020-07-07 14:09] kidonng commented on #166
@ozelotjp Running into this issue, installing Git solved it.

[2020-08-12 06:05] fuadnafiz98 opened #224 "Change Working dir to working folder"
how to change default pure working dir to current working folder

[2020-09-24 23:05] Arelav commented on #218
I'm not Fish shell guru. Looks like nobody interested. Closing this by inactivity.

[2020-10-24 17:54] timjackleus opened #226 "Colours are not as in the images"
How it looks after fresh install
![image](https://user-images.githubusercontent.com/5394335/97086948-c84d2780-1626-11eb-82e0-822ec66e0171.png)
Just based on the images I'm assuming the colours should be different than this. Worth mentioning is that I'm completely new to fish :) I've been followings the instructions for omf.

## Env

**Pure**

    2.5.2

**Fish**

    fish, version 3.1.2

**OS/dist

[2020-11-01 14:10] timjackleus commented on #226
Turns out colours are to be managed separately (if I've understood this correctly). If this is the case I would gladly update the readme to not confuse anyone else but as for now I'm not sure myself..

[2020-11-01 14:10] #226 closed

[2020-11-05 15:35] NickHu commented on #65
Tide was quite buggy when I tried it so I'd still value someone adding this here

[2020-11-15 21:11] edouard-lopez commented on #123
Based on @faho idea, I would like to restrict our support to versions available, by default, and above, in supported Ubuntu LTS and current Ubuntu release only. So, as of Nov. 15 2020 we have:

* ~xenial (16.04LTS): `2.2.0-3`~ we won't go back to this as we decided to support above `≥2.5`
* bionic (18.04LTS): `2.7.1-3`
* focal (20.04LTS): `3.1.0-1.2`
* groovy (shells): `3.1.2-1ubuntu1`

Henceforth

[2020-11-16 03:17] jorgebucaran commented on #123
I think we should support >=`3.0`, otherwise we'll be stuck in `2.7.1` until 2023 for no substantial benefit. Bionic/Cosmic users can upgrade to the latest Fish easily enough.

[2020-11-16 03:17] jorgebucaran commented on #123
Support >=`3.0`, otherwise we'll be stuck in `2.7.1` until 2023 for no substantial benefit. Bionic/Cosmic users can upgrade to the latest Fish easily enough.

[2020-11-16 17:03] jorgebucaran commented on #123
@smorimoto Could you create a different issue for that? Not sure what's wrong with that picture, though.

@edouard-lopez Sounds good! 🎉

[2020-11-17 01:36] smorimoto commented on #123
@jorgebucaran Of course. Ah, it was a little hard to understand with the image.
![gif](https://user-images.githubusercontent.com/38746192/99329052-b88cd000-28c0-11eb-9ab3-1ca189e2201d.gif)

[2020-11-17 03:22] jorgebucaran commented on #123
@smorimoto Maybe you have a `fish_greeting.fish` file somewhere doing something weird? Look in your $__fish_config_dir.

[2020-11-17 03:29] smorimoto commented on #123
@jorgebucaran I'm specifying an empty for that; is that a problem? ​This behavior did not occur before.

[2020-11-17 03:40] jorgebucaran commented on #123
@smorimoto Nope, that shouldn't be the issue AFAIK. This seems like a Fish specific issue, so I'd suggest asking in https://gitter.im/fish-shell/fish-shell.

[2020-11-17 15:59] smorimoto commented on #123
The default prompt for fish doesn't cause this, and it happened after updating fisher and pure.

[2020-11-18 10:49] edouard-lopez commented on #123
I'm closing the issue as we have a [new support strategy](https://github.com/rafaelrinaldi/pure/issues/123#issuecomment-728189321).

@smorimoto Please open a dedicated issue so we have a clear thread.

[2020-11-18 10:57] edouard-lopez commented on #123
[Versions Support Strategy](https://github.com/rafaelrinaldi/pure/wiki/Versions-Support-Strategy) has been added to the wiki for reference

[2020-11-18 11:01] edouard-lopez commented on #162
has been merged

[2020-11-18 11:01] #162 closed

[2020-11-18 22:17] edouard-lopez commented on #224
Could you elaborate on what you are looking for?

[2020-11-18 22:37] edouard-lopez commented on #216
Do you still have the issue?
Error message is weird and I find nothing similar online.

[2020-11-18 22:43] otaviomad commented on #216
I managed to fix it by removing a few exports that I was no longer using on .fishrc. Though, I must say, I ended up migrating to zsh as it is POSIX compliant and easier to work with.

[2020-11-19 12:38] #131 closed

[2020-11-19 13:08] edouard-lopez commented on #216
Thanks @otaviomad :heart:

[2020-11-19 13:08] #216 closed

[2020-11-19 13:15] edouard-lopez opened #231 "Drop fundle support"
Fundle is too time consuming to maintain and inactive for almost 2 years.

So I'm going to remove tests, documentation for it and do not plan to support related issues.

What do you think?

[2020-11-19 13:24] edouard-lopez commented on #56
[@NovaDev94 solution](#issuecomment-606412058) is quite simple and configuration only, so nothing to add in pure.

I'm closing

[2020-11-19 13:24] #56 closed

[2020-11-19 14:51] nesl247 commented on #231
There's really nothing to support other than make sure you use the proper directories for fish. Outside of that, there is literally nothing to do. Not officially supporting it is still fine as a fundle user.

[2020-11-19 16:39] edouard-lopez commented on #231
@nesl247 Thanks for your feedback

The code related to it I found was a test suite but commented. So no reason to pretend we support it when we have no automated way to back this statement.
Moreover, I prefer to focus my energy on `fisher` support as it's active and widely used in the community.
Note, the file structure to comply with `fundle` is still there but no guaranty it will work in the fut

[2020-11-19 17:08] nesl247 commented on #231
@edouard-lopez Exactly. That's why I meant it's still fine as a fundle user. Fundle is really just a mechanism for downloading/updating/loading, and not really much else. Which is why it doesn't have a lot of activity, it's just not needed.

[2020-11-19 23:43] filipebarros opened #233 "Checking for new version fails"
After upgrading to the latest version and setting `pure_check_for_new_release` to `true`, when I run `exec fish` or start I get the following error:
[code]

## Env

**Pure**

    2.7.0

**Fish**

    3.1.2

**OS/distribution**

    macOS Catalina 10.15.7

[2020-11-20 07:50] edouard-lopez commented on #233
Did you set it using the command line like I [demonstrated in the release note](https://github.com/rafaelrinaldi/pure/releases/tag/v2.6.0)?CCould you check your pure config in `~/.config/fish/conf.d/pure.fish`?

CI is in bad shape at the moment, Travis builds are extremely slow to start, so merge without it ☹️.
I need to switch to github CI to get a better feedback loop. I will do my best to look

[2020-11-20 09:37] filipebarros commented on #233
I changed the `pure_check_for_new_release` in `~/.config/fish/fish_variables` to true.

I tried to do it like in the release notes:
`set --global pure_check_for_new_release true` and running `exec fish` again, and I get the same error. For the time being I just reverted it back to false.

Thanks

[2020-11-23 14:08] edouard-lopez opened #234 "Drop support for Fish<3.0.0"
See [Versions-Support-Strategy](https://github.com/rafaelrinaldi/pure/wiki/Versions-Support-Strategy) and #123

### Todo

* [x] remove tests for Fish<3.0.0
* [x] remove CI tests
* [x] remove badge in doc

[2020-11-26 12:10] edouard-lopez commented on #231
I manage to fix the failing test  related to `fundle` install  in #227.
So it's still live for now! :tada:

[2020-11-26 12:10] #231 closed

[2020-11-26 12:37] edouard-lopez commented on #233
@filipebarros how did you install? Could you try the manual install command:

[code]

[2020-11-26 12:54] edouard-lopez commented on #233
I reckon the variable toggle isn't taken into account due to this constrain:
https://github.com/rafaelrinaldi/pure/blob/55bef050159bc9d56d62fb9362d9b6f4e05ec526/tests/_pure_set_default.test.fish#L16

Try the following:

[code]

[2020-11-26 15:31] filipebarros commented on #233
@edouard-lopez I tried that but nothing changed: I replaced `_pure_set_default pure_check_for_new_release true` to `_pure_set_default pure_check_for_new_release false`, ran the erase command and then ran `exec fish` but I still get the same error.

[2020-11-26 21:27] edouard-lopez commented on #233
I only manage to get the same error when I edit `~/.config/fish/conf.d/pure.fish` to **comment the variable out**

[code]

**and `pure_check_for_new_release` is not set** which is show by [`set --query …` outputing `1`](https://fishshell.com/docs/current/tutorial.html?#exit-status)

[code]

If that's the case you should be able to test the feature by giving ita [universal scope](https://fishshell.

[2020-11-26 22:38] edouard-lopez commented on #218
I will look into merging this issue in the coming days

[2020-11-28 21:51] #234 closed

[2020-11-29 22:32] filipebarros commented on #233
`~/.config/fish/conf.d/pure.fish` has the `pure_check_for_new_release` set to `true` and it is also true in `~/.config/fish/fish_variables` (`SETUVAR pure_check_for_new_release:true`).

Running `set --query pure_check_for_new_release ; echo $status` outputs 0 for me.

Doing:
[code]
has the same output as mentioned in my first comment.

[2020-11-30 07:03] edouard-lopez commented on #233
@filipebarros
Note that I [released new version]k(https://github.com/rafaelrinaldi/pure/releases).

So the feature flag seem correct, What do you get with

    echo $pure_version

Could you add a `breakpoint` in the feature function in `~/.config/fish/functions/_pure_check_for_new_release.fish` just before the `if` and see what's inside both variables `latest` and `pure_version`?

[2020-11-30 11:51] filipebarros commented on #233
I didn't update to the latest version yet.

`$pure_version` is fine (2.7.0) but `$latest` is empty.

[2020-11-30 18:31] edouard-lopez commented on #233
Can you give me some information about your `sed`? I will see if I can implement it purely with fish

[2020-11-30 21:05] filipebarros commented on #233
[code]

Not sure if this is of any help though (apparently sed on macOS doesn't "have" a version)

[2020-12-01 14:03] #233 closed

[2020-12-01 14:09] filipebarros commented on #233
@edouard-lopez it is working now 👍 thanks

[2020-12-03 21:25] #218 closed

[2020-12-03 22:06] smorimoto opened #240 "Weird behavior at startup"
![gif](https://user-images.githubusercontent.com/38746192/99329052-b88cd000-28c0-11eb-9ab3-1ca189e2201d.gif)

## Env

**Pure**:

[code]

[code]

**Fish**:

[code]

[code]

**OS/distribution**:

[code]

[code]

[2020-12-03 22:14] edouard-lopez commented on #240
That doesn't look like `pure` :/

1. How did you install?
2. Does your config file import `pure` correctly?

       $EDITOR $__fish_config_dir/config.fish
3. What the output of:

       type fish_prompt

[2020-12-03 22:15] edouard-lopez commented on #198
will deal about that in #166

[2020-12-03 22:15] #198 closed

[2020-12-03 22:24] edouard-lopez commented on #157
There is a [solution upstream](https://github.com/fish-shell/fish-shell/issues/3537#issuecomment-477550193)

[2020-12-03 22:24] #157 closed

[2020-12-03 22:27] edouard-lopez commented on #223
@caarlos0 same issue as #157, please see upstream fix.

[2020-12-03 22:27] #223 closed

[2020-12-03 22:29] edouard-lopez commented on #212
@FraserEmbrey Is this still and issue?

[2020-12-03 22:33] edouard-lopez commented on #221
@hisnawi did you find a solution?

[2020-12-03 22:41] edouard-lopez commented on #224
not enough information, closing.

[2020-12-03 22:41] #224 closed

[2020-12-03 22:54] hisnawi commented on #221
I just disabled the feature altogether.

[2020-12-03 22:54] edouard-lopez commented on #206
@faho does that sound feasible to you?

https://github.com/rafaelrinaldi/pure/blob/ec5a708712d453e2305fd4b987a4846d9781c1d8/functions/fish_prompt.fish#L1-L11

[2020-12-03 22:56] edouard-lopez commented on #221
I'm closing then, feel free to reopen if you want to work on it.

[2020-12-03 22:56] #221 closed

[2020-12-03 23:42] FraserEmbrey commented on #212
This had been working more reliably, I think the issue is resolved and it was only ever present on my mac.
To be honest I have recently been using starship as my prompt.

[2020-12-03 23:42] #212 closed

[2020-12-04 05:45] faho commented on #206
Not without support from fish itself, nno.

[2020-12-04 09:21] edouard-lopez commented on #206
Thanks, I'm closing then

[2020-12-04 09:21] #206 closed

[2020-12-04 09:43] edouard-lopez opened #241 "Show `username@host` if inside a container"
**related:** #214

---

* Zsh Feature to [display `username@host` when inside a container](https://github.com/sindresorhus/pure/blob/8ec575c886c8bb33a87f80b9710ee5e379a0b589/pure.zsh#L688).
* Zsh [Pull-request and explaination](https://github.com/sindresorhus/pure/pull/564)

~Testing this feature will prove challenging~ we run test in container so it's cool

[2020-12-04 10:02] edouard-lopez commented on #241
[code]

[2020-12-09 03:28] smorimoto commented on #240
Hmm... This doesn't happen with the default fish themes. So I thought pure is the cause.

1. I installed it with the latest fisher.

2. https://github.com/smorimoto/dotfiles/blob/master/config/fish/config.fish

3.

[code]

[2020-12-09 07:39] edouard-lopez commented on #240
As it seems you use lambda symbol instead of default arrow, could you describe what you expected vs what you got?

What do you get when

    source /home/sora/.config/fish/functions/fish_prompt.fish
    fish_prompt

[2020-12-09 10:58] smorimoto commented on #240
I get nothing. By the way, what I wanted to say with the GIF is that the word "fish" appears at startup.

[code]

[2020-12-09 20:04] edouard-lopez commented on #240
Can you try to see where it comes from:

    fish_trace=1 fish >/tmp/fish-debug.txt 2>&1

Then explore the content of `/tmp/fish-debug.txt` to find occurence of `fish⏎` or whatever is print at the top.

[2020-12-10 14:17] smorimoto commented on #240
Here is the diff for tracing with and without pure.

<details>
<summary>diff</summary>

[code]
</details>

[2020-12-11 06:48] jorgebucaran commented on #241
@edouard-lopez Useless use of `cat`.

[code]

[2020-12-11 08:55] edouard-lopez commented on #240
I don't see anything related to the pre-prompt text, maybe @faho would know what's up with this text appearing on new shell

    fish⏎

[2020-12-11 09:38] faho commented on #240
This looks like fish printing the terminal title. It seems your OS/terminal combo can't deal with it. Try removing your `fish_title` function.

Note that the "⏎" *isn't* part of the output, fish adds it later to get the prompt onto a new line. If there is no newline, it'll show up, if there is it'll be overwritten.

Also:

Going by the gif, this actually looks like WSL - which is a... idiosyncrati

[2020-12-11 09:59] smorimoto commented on #240
Oh, I removed `fish_title` and then it now works as expected.

[2020-12-11 11:07] edouard-lopez commented on #240
Thanks @faho, I'm closing then

[2020-12-11 13:48] smorimoto commented on #240
@faho I'm using WSL2, Windows Terminal and Void Linux. But, WSL2 is a complete Linux kernel (like Docker for Mac/Win), so everything should just works. (Well, there are some incompatibilities on WSL1, but they're strictly in Microsoft's court. They steadily fix some of these things.)

[2020-12-11 13:58] faho commented on #240
Well, it doesn't. In particular the *terminal* is still a windows thing, and it's still kinda weird and e.g. doesn't support bracketed paste.

In this case, it seems to confuse the title-bar-separator with the end of the terminal title sequence - what did you set it to?

[2020-12-11 14:15] smorimoto commented on #240
I have not set anything for `$pure_symbol_title_bar_separator`. That is, the default `-` should be used.

[2020-12-12 02:59] smorimoto commented on #240
It's a little weird but adding this to the configuration solves the problem.

[code]

[2020-12-12 08:18] edouard-lopez commented on #240
So maybe we should change the default title bar separator as it will prevent issue for other people quite easily.

@smorimoto Do you want to submit a PR?

[2020-12-12 08:27] smorimoto commented on #240
@edouard-lopez I opened it.

[2020-12-13 20:30] #240 closed

[2020-12-14 19:52] edouard-lopez commented on #206
@cole-h could #65 be an alternative to your request?

[2020-12-14 20:23] externl opened #245 "Source error when installing with fisher"
## Env

**Fish**

[code]

**OS/distribution**

    macOS 11.1

**Fisher output**
[code]

[2020-12-14 21:03] anthonyjclark commented on #245
I just ran into the same issue when installing manually. It appears to be due to [this commit](https://github.com/rafaelrinaldi/pure/commit/3090c67b600cad81d62f0a51e18cc46422277a87) @edouard-lopez

[2020-12-15 12:01] sgade commented on #245
Seems unrelated to any manager. Having the same problem after updating using fundle.
Removed the line as a workaround.

[2020-12-15 12:49] edouard-lopez commented on #245
Apologies,
I will have a look tonight, in the meantime you can install the previous version:

    fisher install rafaelrinaldi/pure@v3.3.1

[2020-12-16 00:37] #245 closed

[2020-12-16 00:50] edouard-lopez commented on #245
Fixed in [`v3.3.3`](https://github.com/rafaelrinaldi/pure/releases/tag/v3.3.3):

    fisher install rafaelrinaldi/pure

[2020-12-16 04:14] jorgebucaran commented on #245
@edouard-lopez Why extract the event handler https://github.com/rafaelrinaldi/pure/commit/3090c67b600cad81d62f0a51e18cc46422277a87#diff-0728e51023b9a9b70caf9b61545c9996c007bd0cd70479a4b6be89d5069bc0c2R10? Seems unnecessary and roundabout. I'd just keep it in the snippet.

[2020-12-16 04:16] jorgebucaran commented on #245
@edouard-lopez Why extract the event handler https://github.com/rafaelrinaldi/pure/commit/3090c67b600cad81d62f0a51e18cc46422277a87#diff-0728e51023b9a9b70caf9b61545c9996c007bd0cd70479a4b6be89d5069bc0c2R10? Seems unnecessary and roundabout. I'd just keep it in the snippet and put code in the uninstaller to erase the function, but I guess it's up to you.

[2020-12-16 04:29] jorgebucaran commented on #245
I prefer `pure_uninstall`, etc., as originally introduced in my PR (https://github.com/rafaelrinaldi/pure/pull/243). Extracting the function into `functions/` and hardcode-sourcing it in `conf.d/_pure_init.fish` is fragile and would break if Fisher changes the `cp` order (unlikely, though) or Pure users customize their `$fisher_path` (more likely). The problem is assuming Pure is installed to `$__

[2020-12-16 12:39] edouard-lopez commented on #245
Thanks @jorgebucaran, I will see what feedback I get on this to prioritize this modification

[2020-12-17 11:33] sgade commented on #245
+1 on @jorgebucaran's suggestion. I know [fundle is not supported](https://github.com/rafaelrinaldi/pure/issues/231) but it underlines that the assumed install directory may not be correct (`~/.config/fish/fundle/rafaelrinaldi/pure` in my case).

[2020-12-17 14:06] edouard-lopez opened #248 "Dropping Fundle and Oh-my-fish support"
**related:** #231, #245

---

That something I already considered in #231 and will probably implement in coming weeks.

## Rationale

### Dropping `Fundle` and `Oh-my-fish`

Why?
* reduce cost of maintaining the project:
  * that is quite important for me
  * I have less time ;
  * and other projects I would like to tend to ;
* simplify installation steps by keeping only `fisher` and manual (for f

[2020-12-17 14:41] edouard-lopez commented on #65
Zsh Pure put everything before the prompt symbol `❯` I'm going to implement it like this.

![](https://cloud.githubusercontent.com/assets/147409/25740894/294b9c20-3191-11e7-947f-b3ac1597f69f.png)

[2020-12-17 20:13] Arelav commented on #218
👏

[2020-12-19 21:48] edouard-lopez opened #249 "Request: Ownership Transfer"
### Project's Background

* @rafaelrinaldi started the project in October 2015 and I'm grateful for it :clap: (see a5d0721d4f584f7d4cd6734c03b190de09d5ef01)
* I started to contribute to on early December 2015 (see 72f0e00ef9d5eaf8c3f28bc5341939d945c40671)
* @schrodincat/@andreiborisov started to contribute b09bfdcd132abaebb079c92f718cdcfd19cd66cb
* plenty of other persons contributed with issues o

[2020-12-20 14:21] mattmc3 opened #250 "Pure assumes it will be installed in ~/.config/fish and errors when it's not"
## Env

**Pure**

    3.3.0

**Fish**

    fish, version 3.1.2

**OS/distribution**

    macOS Big Sur 11.1

Error received when loading Pure without using Fisher/OMF/Fundle

[code]

Reason for error:

I believe Pure is assuming that it will be installed in my ~/.config/fish directory, but I am instead sourcing it from an alternative location by adding its functions and completions to `$fish_funct

[2020-12-20 14:34] jorgebucaran commented on #250
Yep, see also https://github.com/rafaelrinaldi/pure/issues/245#issuecomment-745756246

[2020-12-20 15:41] mattmc3 commented on #245
https://github.com/rafaelrinaldi/pure/pull/251

[2020-12-21 08:00] #250 closed

[2020-12-21 18:58] rafaelrinaldi commented on #249
Thanks for bringing this up! I am more than willing to change our model but I think it would make more sense for us to setup an org instead so it is no longer tied to a specific maintainer. Thoughts?

[2020-12-21 21:18] edouard-lopez commented on #249
Organization is great!
It will give more flexibility to add contributors or add others related repo (e. g. @andreiborisov docker images ?)

[2020-12-22 18:46] jorgebucaran commented on #249
Some ideas:
1. `@pureforfish`
2. `@pure4fish`
3. `@getpure`
4. `@puregoesfish`
5. `@puregonefishin`
6. `@realpurefish`

[2020-12-23 08:22] edouard-lopez commented on #249
I like
2. `@pure4fish`
3. `@getpure`
I was thinking of
7. `@pure`
8. `@pure-prompt`

[2020-12-23 08:34] jorgebucaran commented on #249
I think the name of the organization should suggest that this is a Fish project, so let's please avoid something generic like `@pure` (which is not even available) or `@getpure` (I've edited my post to reflect this realization).

[2020-12-23 15:54] edouard-lopez commented on #249
Apparently we can do `pure.fish`. Not a fan of `@getpurefish`
I'm updating my vote.

[2020-12-23 18:38] jorgebucaran commented on #249
Just fyi, organization names can't contain any special characters, so `@pure.fish` will become `@pure-fish`.

[2020-12-24 21:13] tharindus609 opened #252 "Setting defaults through ~/.config/fish/fish.config not working"
## Env

**Pure**

    echo $pure_version
    3.3.5

**Fish**

    fish --version
    fish, version 3.1.2

**OS/distribution**

    uname -a
    Darwin olympus.local 20.2.0 Darwin Kernel Version 20.2.0: Wed Dec  2 20:40:21 PST 2020; root:xnu-7195.60.75~1/RELEASE_ARM64_T8101 arm64

~/.config/fish
❯ cat config.fish
_pure_set_default pure_separate_prompt_on_error true
_pure_set_default pure_threshold_

[2020-12-24 22:39] tharindus609 commented on #252
a restart fixed it i checked everything for almost 3 hours to figure this out

[2020-12-24 22:39] #252 closed

[2020-12-25 04:34] jorgebucaran commented on #252
@tharindus609 So, if I understand this right, you opened your `config.fish` file and set some Pure variables. Then you close the file and expected changes to apply to your prompt automatically? Is that correct?

[2020-12-25 04:34] jorgebucaran commented on #252
@tharindus609 So, if I understand this right, you opened your `config.fish` file and set some Pure variables. Then closed the file and expected changes to apply to your prompt ¥automatically? Is that correct?

[2020-12-25 20:37] pacien opened #253 "Wrong tag reference for v3.3.5"
The tag `v3.3.5` on this GitHub repository points to commit 4f217d5 which corresponds to `v3.3.4`.
It should instead point to 5f2baf5.

[2020-12-25 20:56] pacien opened #254 "Options to choose when to display the current user and/or host"
… the same way they are automatically displayed when in an SSH session.

This is particularly useful when running `sudo -s` on a remote host, which causes the user and host indicator to disappear.
This indicator is also useful when running that command locally.

[2020-12-26 16:07] edouard-lopez commented on #252
@tharindus609 thanks for the feedback, I believe the README need some live especially the part about customization.
In your case it's related to how universal variables, the order in which [configuration files are initialized](https://fishshell.com/docs/current/index.html#initialization-files) and how we leverage both via our [conf.d/pure.fish](https://github.com/rafaelrinaldi/pure/blob/master/con

[2020-12-26 16:07] edouard-lopez commented on #253
@pacien nice catch!
I will check that this evening.

[2020-12-26 16:58] edouard-lopez commented on #254
Related to #241 #117 #214

[2020-12-26 20:32] edouard-lopez commented on #253
:heavy_check_mark: done

[2020-12-26 20:32] #253 closed

[2020-12-26 23:09] #117 closed

[2020-12-27 00:20] edouard-lopez commented on #166
I'm happy to review PR for this one :)

[2020-12-27 17:27] nicktfried opened #258 "id: illegal option -- -"
Keep receiving the following after every command only when Pure is installed:

`id: illegal option -- -
usage: id [user]
       id -A
       id -F [user]
       id -G [-n] [user]
       id -M
       id -P [user]
       id -g [-nr] [user]
       id -p [user]
       id -u [-nr] [user]
~`

## Env

**Pure**

    3.4.1

**Fish**

    fish, version 3.1.2

**OS/distribution**

    MacOS Big Sur 11.1

[2020-12-27 18:18] tharindus609 commented on #252
@jorgebucaran once i added configs to the file i reloaded the fish session. i tried just running fish command and also tried closing my terminal and starting again none seem to work

@edouard-lopez i assumed that ~/.config/fish/config.fish is sourced each time a new fish session is started similar to .bashrc am i wrong to assume that?

[2020-12-27 19:11] edouard-lopez commented on #258
Thank for the feedback @nicktfried.

This is due to macOS `id` command missing the long format option. Until I fix this, you can revert to `3.3.5`:

    fisher install rafaelrinaldi/pure@v3.3.5

[2020-12-27 20:05] edouard-lopez commented on #249
I created a [`pure-fish` organization](https://github.com/pure-fish) and send you all ownership invitation, so we can continue.

[2020-12-27 21:46] rakyi commented on #258
`fisher install` does not exist in my version of fisher (3.2.11), but `fisher add rafaelrinaldi/pure@v3.3.5` worked.

[2020-12-27 21:53] nicktfried commented on #258
Update fisher to 4.1

[2020-12-27 21:53] nicktfried commented on #258
Thanks!

[2020-12-27 21:53] #258 closed

[2020-12-28 00:05] sgade opened #260 "id: Illegal option on macOS"
# Bug description

Hello,

I noticed an error message after updating that is displayed every time the prompt is rendered:

[code]

The origin seems to be commit a80cb551b233f8ce3299f0c6a1961a24c53ed1b7 which uses flags that are not supported on macOS.
`man id` lists the following:

[code]

# Proposed solution

At the bottom, it even lists the command that should be used in this context. I tested i

[2020-12-28 01:32] jorgebucaran commented on #252
@tharindus609 You are not wrong, that's exactly what happens.

[2020-12-28 07:55] edouard-lopez commented on #260
@sgade thanks for the detailed issue. Please update to 3.3.5 as it's been fixed

    fisher install rafaelrinaldi/pure@v3.3.5

[2020-12-28 07:55] #260 closed

[2020-12-28 08:10] jorgebucaran commented on #260
There's no need to specify a tag if this is already in the main branch.

[2020-12-28 10:58] sgade commented on #260
@edouard-lopez Thanks for your reply.
I updated to `3.4.1` and am still getting the same error message. Could you please check?

[2020-12-28 11:10] jorgebucaran commented on #260
I think @edouard-lopez meant to downgrade to @3.3.5 until a new release with the fix is out.

[2020-12-28 13:22] edouard-lopez commented on #260
@sgade stick to 3.3.5, I'm working on #259 to fix thing on macOS

[2020-12-28 13:30] sgade commented on #260
Alright, will do.

[2020-12-28 15:21] edouard-lopez commented on #258
@nicktfried you can install

    fisher install rafaelrinaldi/pure@v3.4.2

[2020-12-28 15:37] sgade commented on #260
The fix in 3.4.1 works. 👍  Thank you, @edouard-lopez.

[2020-12-28 17:36] pacien opened #264 "Some `_pure_string_width` tests fail in a test environment without colour support"
## Issue

Some `_pure_string_width` tests fail in a test environment without colour support.
A workaround could be to disable this test suite when the environment doesn't support colours.

## Env

* **Pure**:  3.4.2
* **Fish**: 3.1.2
* **OS/distribution**: NixOS with nixpkgs#4ec809a

## Logs

[code]

[2020-12-29 15:23] edouard-lopez opened #266 "Drop migration to 2.0.0 script"
It's been 2 years now 7ef38ac30.

### Files to remove

	  tests/fixtures/config.expected.fish
	  tests/fixtures/config.mock.fish
	  tests/migration-to-2.0.0.test.fish
	  tools/migration-to-2.0.0.fish

[2020-12-29 15:35] edouard-lopez opened #267 "Remove conditioning fish>=3.0.0 on tests"
Following our [Versions-Support-Strategy](https://github.com/rafaelrinaldi/pure/wiki/Versions-Support-Strategy) there is no need to condition test for version `3` and above anymore as it's the minimal version required.

That means we can get remove the conditioning of test:

[code]

### Files Concerned

1. tests/_pure_prompt_ssh_host.test.fish
2. tests/_pure_prompt_ssh.test.fish
3. tests/fish_titl

[2020-12-30 09:54] edouard-lopez commented on #264
Thanks for the feedback
I'm working on to have dedicated tests for the colors checks, like a test to check a feature symbol is correct then one to test color is present.
It won't fix your issue but make it easier to solve it.

Some of the errors from your log will be fixed in next release.

There is a discussion in #166 about `_pure_string_width ` issue.

[2021-01-03 18:33] jorgebucaran commented on #249
Thank you, @edouard-lopez. Now, it's just a matter for @rafaelrinaldi to accept the invitation and transfer the repository to the organization.

[2021-01-07 20:23] #65 closed

[2021-01-08 12:56] edouard-lopez opened #269 "Refresh Readme"
* [x] verify feature flag a defined
* [x] sort variable by name
* [x] update list of feature
* [x] merge _Features_ and _Colors_ configuration sections

[2021-01-08 13:58] #248 closed

[2021-01-08 13:58] #267 closed

[2021-01-08 13:58] #269 closed

[2021-01-09 17:22] stanf0rd opened #270 "Set colors right like on theme screenshots"
Hello and thank you for nice theme!

How can I set fish colors like on main screenshot:
<img width="354" alt="Screenshot 2021-01-09 at 20 20 16" src="https://user-images.githubusercontent.com/28190898/104104225-d884b280-52b7-11eb-9a92-fafdb9f2a22d.png">

After clean install (using fisher) I receive default fish colors (random command sreenshot):
<img width="354" alt="Screenshot 2021-01-09 at 20 20

[2021-01-09 17:44] stanf0rd commented on #270
For example, original zsh Pure theme has description about their screenshots:

It would be great to see here something similar :)

[2021-01-09 19:30] edouard-lopez commented on #270
The PR explaining the screenshot https://github.com/rafaelrinaldi/pure/pull/132#issuecomment-454493102
You are lucky, I ported the [ayu theme to fish](https://github.com/edouard-lopez/ayu-theme.fish) last week. It's available as a fisher plug-in with 3 variants (light, dark and mirage)

[2021-01-09 19:34] stanf0rd commented on #270
Thank you so much!

[2021-01-09 20:00] #270 closed

[2021-01-10 22:19] edouard-lopez commented on #266
* [ ] readme migration quote
* [ ] fixture files (mock and expect)

[2021-01-16 08:30] jorgebucaran opened #272 "Upgrade to Fishtape 3"
Just filing this to track the migration to Fishtape 3.

[2021-01-17 12:23] edouard-lopez commented on #272
Thanks, I started to commit some changes as Andrei image is up to date, but didn't push. That should be part of #271 or follow it

[2021-01-18 14:54] rafaelrinaldi commented on #249
Happy to do this, folks! Thanks so much for your interest and for the willingness to maintain the project. It started as a weekend side project but you all made it much better!

@edouard-lopez I don't see the request for the transfer though? Can you try sending me again?

[2021-01-18 15:34] jorgebucaran commented on #249
@rafaelrinaldi What he sent you was an invitation to join @pure-fish, which should've landed in your email. You should be able to view it on the [organization page](https://github.com/pure-fish) too.

There's no request for transfer, you can find instructions to transfer it yourself [here](https://docs.github.com/en/github/administering-a-repository/transferring-a-repository).

[2021-01-19 04:42] rafaelrinaldi commented on #249
Joined the org from the email. Let me know if anything else is needed from
my end.

[2021-01-19 05:02] jorgebucaran commented on #249
Welcome aboard, @rafaelrinaldi. Yes, now you can transfer the repo to the organization.

[2021-01-19 16:22] #249 closed

[2021-02-07 01:23] Sbozzolo opened #274 "Disable Python virtualenv"
Is it possible to disable the feature that adds the Python virtualenv?

I tried looking for this flag, but couldn't find it, so I guess it is not available. In that case, I think it would be nice to have.

[2021-02-09 09:59] edouard-lopez commented on #274
@Sbozzolo no there is no flag for it, we use the environment variable `VIRTUAL_ENV` or `CONDA_DEFAULT_ENV` to trigger it.

A temporary solution would be to redefine `_pure_prefix_root_prompt` as an empty function in `~/.config/fish/functions/_pure_prefix_root_prompt.fish`:

	function _pure_prefix_root_prompt
	end

A better solution would be to had a feature flag and submit a PR :hugs:
For help, yo

[2021-02-17 16:56] officerats commented on #274
It also kinda ruins prompt line formatting for me.

My set up on version 3.5.0 is as follows:

[code]
and my prompt looks like

`~test  ❯`

instead of expected

`~ test ❯`

Note there's
- a space missing after current dir
- double space between conda env name and pure symbol prompt, which can't been seen here because of Markdown formatting, but it's there

My random guess about double space is it

[2021-02-17 21:15] edouard-lopez commented on #266
done 85c9732a7

[2021-02-17 21:15] #266 closed

[2021-02-17 21:16] edouard-lopez commented on #241
done #271

[2021-02-17 21:16] #241 closed

[2021-02-17 21:36] edouard-lopez commented on #254
@pacien #271 added support for user/host display in docker/lxc container.

That's not a feature I aim to support, but you can play with `pure_symbol_prompt` variable, _e.g._:

	set pure_symbol_prompt "$USER ❯"

[2021-02-17 21:36] #254 closed

[2021-02-18 08:58] edouard-lopez commented on #274
@officerats could you open an issue about the spacing as it's unrelated to the original issue?

[2021-02-18 11:24] officerats opened #276 "Displaying conda/virtualenv env name has incorrect spacing"
## Env

**Pure**

    3.5.0

**Fish**

    3.1.2

**OS/distribution**

    MacOS, using nix to build my working environment

Displaying conda env/virtual env name kinda ruins prompt line formatting for me.

My set up on version 3.5.0 is as follows:

[code]
and my prompt looks like

	~test  ❯

instead of expected

	~ test ❯

Note there's
- a space missing after current dir
- double space between co

[2021-03-02 13:09] wy15 opened #277 "type: Unknown option '--quiet'"
## Env

**Pure**

    4.1.0

**Fish**

    fish, version 3.2.0

**OS/distribution**

    macOS bigsur 11.2.2

**Error message**

    type: Unknown option '--quiet'

[2021-03-02 13:20] Asheboy commented on #277
## Env

**Pure**

    `4.1.0`

**Fish**

    `fish, version 3.2.0`

**OS/distribution**

[code]

[2021-03-02 14:59] #277 closed

[2021-03-03 01:31] the-aus opened #279 "prompt character broken"
## Env

**Pure**

    echo $pure_version

    4.1.0

**Fish**

    fish --version

    fish, version 3.1.2

**OS/distribution**

    lsb_release -a

    LSB Version:	1.4
    Distributor ID:	Arch
    Description:	Arch Linux
    Release:	rolling
    Codename:	n/a

`â¯` is what shows up.

here is a screenshot of the issue

![https://img.theaus.xyz/P6JgCIoa.png](https://img.theaus.xyz/P6JgCIoa.png)

i

[2021-03-03 03:49] jorgebucaran commented on #279
What does `echo $pure_symbol_prompt` tell you?

[2021-03-03 15:13] the-aus commented on #279
it gives me `â¯` as an output

[2021-03-04 23:45] the-aus commented on #279
i was able to fix this by running `set -u pure_symbol_prompt ❯`

not really sure how it got messed up. thanks for the help :)

p.s. i was able to get that character to copy from [here](https://github.com/pure-fish/pure/blob/master/conf.d/pure.fish)

[2021-03-04 23:45] #279 closed

[2021-03-05 03:30] ajgrover commented on #276
I'm also having this issue, or at least a related one. on fish 3.2.0 and pure 3.5.0 and my prompt with the virtualenv activated looks like this:

`~/Developer/repo mastervenv  ❯`

no space between the branch and venv names and two spaces after the venv name.

[2021-03-07 14:17] edouard-lopez commented on #276
That's a bug indeed, as it's non-blocking it's a low priority but I'm available to review any PR on the matter.
My guess is that an extra space, or something else, come from conda/virtualenv.

[2021-04-15 15:07] Lorenium opened #281 "Change git branch color"
## Env

**Pure**

    echo $pure_version

4.1.1

**Fish**

    fish --version

3.2.2

**OS/distribution**

    lsb_release -a

No LSB modules are available.
Distributor ID: Ubuntu
Description:    Ubuntu 20.04.2 LTS
Release:        20.04
Codename:       focal

My terminal background is the same color as the default git branch color and I wanna change it to something a little more opaque so that I c

[2021-04-23 21:05] edouard-lopez commented on #281
For the possibility, refer to the `conf.d/pure.fish` file:
https://github.com/pure-fish/pure/blob/9d17b2780165572bc6c181cd0e7c5d6dd13be5c1/conf.d/pure.fish#L23-L33

To set the config, try:

	set --universal pure_color_git_branch red

Then choose the color you want

[2021-04-23 21:27] Lorenium commented on #281
Thanks a lot, got it visible at last. I highly suggest you add this to the readme as I suspect many people use dark-gray backgrounds and can't properly see the branch info.

[2021-04-23 21:27] #281 closed

[2021-04-25 18:54] bdarcus commented on #56
Could be helpful to add this solution to the configuration section of the README.

[2021-04-27 07:41] edouard-lopez commented on #281
There is a [Configuration section](https://github.com/pure-fish/pure#paintbrush-configuration) in the doc, the variable are in [pure.fish](https://github.com/pure-fish/pure/blob/master/conf.d/pure.fish)

[2021-04-27 07:42] edouard-lopez commented on #56
@bdarcus would you care submitting a pull-request ?

[2021-04-27 09:32] bdarcus commented on #56
I did consider that, but wasn't sure where best to put it.

But I can also add one, and you can adjust.

[2022-05-18 12:29] dwt opened #291 "Add 🐍 to the virtualenv title so I know that's what I see"
## Env

**Pure**
4.1.1
**Fish**
fish, version 3.4.1
**OS/distribution**
uname -a
Darwin Seneca.fritz.box 21.5.0 Darwin Kernel Version 21.5.0: Tue Apr 26 21:08:37 PDT 2022; root:xnu-8020.121.3~4/RELEASE_ARM64_T6000 arm64

## Problem description

I work with both virtualenvs as well as with Kubernetes a lot. Always correctly keeping track what virtualenv and what Kubernetes context and namespace is

[2022-05-20 08:18] edouard-lopez commented on #291
Hello @dwt,
Sure, PRs are welcome :heart:

### Suggestion
A variable defining the symbol for each indicator could do the trick, e.g declaring

[code]

By default, I would prefer having it empty for now, to have opt-in mechanism.

Could you try to update the test as well? They are still buggy when you run them all, but you should be able to run the one related to one feature like:

    ❯ make dev-p

[2022-05-22 18:50] dwt commented on #291
Hm, that doesn't seem so easy, I'm getting hangs in the test suite with errors like this:

[code]

After that the test container just hangs indefinitely, until I manually kill the container. Any advice?

[2022-05-22 18:52] dwt commented on #291
Scratch that, the problem was that I was running `❯ make test-pure-on FISH_VERSION=3.3.1 CMD="fishtape tests/_pure_prompt_virtualenv.test.fish"` - which actually runs all the tests instead of restricting them.

[2022-05-28 09:13] soredake commented on #166
I'm getting the same problem in fedora kde 36 vm with konsole.

[2022-06-21 15:11] edouard-lopez commented on #291
I will add variable, so people can disable those features if need be:

    _pure_set_default pure_enable_virtualenv true
    _pure_set_default pure_enable_kubernetes true

[2022-07-19 16:18] KarlWithK opened #292 "[request] Is there anyway to have the following prompt: $tail on $git_branch"
I was wondering if there were any way to have the following format? $dir_tail on $git_branch

Thank you.

[2022-07-20 08:48] edouard-lopez commented on #292
You can customize `prompt_components` variable in [`~/.config/fish/functions/_pure_prompt_first_line.fish`](https://github.com/pure-fish/pure/blob/master/functions/_pure_prompt_first_line.fish#L24-L38), e.g.:

[code]

[2022-07-26 19:59] #292 closed

[2022-08-29 06:19] wjagodfrey commented on #175
Bumping.

Why is pure the plugin that gets to overwrite the `fish_greeting.fish`? What if other plugins want to do the same?

You're overwriting it because you want to check for updates, but shouldn't that be up to the user? Most fish users would be happy to update their greeting to add that feature.

Every time I run my `fisher` installer, this plugin wipes out my greeting. You're not really leav

[2022-09-12 21:24] wjagodfrey commented on #175
I would definitely consider adding it to the README as an option to add to `config.fish` - I personally wouldn't add it. I like to update my plugins manually.

[2022-09-13 00:08] jorgebucaran commented on #175
Here's an alternative. Instead of shipping an empty `fish_greeting` function, just `set -U fish_greeting ""` after installing. This will suppress Fish's default greeting (in line with @edouard-lopez's line of thought) without wiping out the user's custom `fish_greeting` function if one exists. 🤓

[2022-09-13 00:08] jorgebucaran commented on #175
Here's an alternative. Instead of shipping an empty `fish_greeting` function, Pure could just `set -U fish_greeting ""` after installing. This will suppress Fish's default greeting (in line with @edouard-lopez's line of thought) without wiping out the user's custom `fish_greeting` function if one exists. 🤓

[2022-09-13 00:09] jorgebucaran commented on #175
Here's an alternative. Instead of shipping an empty `fish_greeting` function, Pure could just `set -U fish_greeting ""` after install. This will suppress Fish's default greeting (in line with @edouard-lopez's line of thought) without wiping out an existing user's custom `fish_greeting` function. 🤓

[2022-09-14 08:11] gtalarico opened #293 "Missing blank line between prompts?"
Screenshots appear to indicate there is a blank line between output and next prompt.
However in my terminal (iterm2 + terminal) output and next prompt are right against each other.

Is this expected? Are screenshots outdated?

I looked through configs and while I see the option to have compact prompt (set to false) I don't see anything on the extra line.

<img width="586" alt="image" src="https://

[2022-09-28 15:29] edouard-lopez commented on #175
### Current Behaviour

Currently, on new session, pure checks for new release and show command to install, as we override the [`fish_greeting.fish`](https://github.com/pure-fish/pure/blob/2d07e74567e9190c82ae66c37c34ca86850cd9ac/functions/fish_greeting.fish) file.

### Proposed Behaviour

* Stop overriding user `functions/fish_greeting.fish`
* Document how to add the new release check
* Suppress F